.mainDiv {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.info {
    display: grid;
    gap: 8px;
}

.name {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.deleteIcon {
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.formIcon {
    position: absolute;
    right: 16px;
    height: 40px;
    aspect-ratio: 1/1;
    bottom: -20px;
    background: white;
}

.mainDivNewPosition {
    width: 90vw;
    padding: 32px 24px;
    display: grid;
    gap: 16px;
}

.gridPositionName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.position {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 28px;
    aspect-ratio: 1/1;
    z-index: 1000;
    font-weight: 500;
    color: var(--colorPrimaryTextDesktop);
}

.positionNew{
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 28px;
    aspect-ratio: 1/1;
    z-index: 1000;
    font-weight: 500;
    color: var(--colorPrimaryTextDesktop);
    position: absolute;
    top: 12px;
    right: 12px;
}

.samePosition {
    color: red;
    font-size: 12px;
}

