.mainDiv {
    display: grid;
    padding: var(--paddingUserAccountTabsMobile);
    height: 100%;
    grid-template-rows: max-content 1fr;
    position: relative;
}

.gridTabs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: start;
    position: absolute;
}

.contGroups {
    height: 100%;
}