.mainDiv {
    display: grid;
    gap: 24px;
}

.title {
    color: var(--colorTitlesDesktop);
    font-size: var(--userAccountTitleMobile);
}

.contForms {
    display: grid;
    gap: 24px;
}

.gridTitleAdd {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 12px;
}

.gridAddForm {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    padding: 8px 16px;
}

.addIcon {
    position: relative;
    aspect-ratio: 1/1;
    width: 16px;
}

.ast {
    color: red;
}

.exa {
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 8px;
    border: 1px solid #c9c9c9;
    color: var(--colorPrimaryTextDesktop);
    margin: 0 2px;
}

