.mainDiv {
    width: 95vw;
    height: max-content;
    position: relative;
    display: grid;
    gap: 16px;
    padding: 32px 24px;
}

.title {
    font-weight: 500;
    font-size: 21px;
}

.profile {
    width: 60px;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}