.principalGridOpen {
    width: 100%;
    display: grid;
    align-content: start;
    flex-direction: column;
    position: relative;
    overflow: scroll;
    padding: 16px 24px;
    touch-action: none;
    -ms-touch-action: none;
    --fillSections: #ff8383;
    --strokeWith: 1px;
    --strokeWithBefore: 12px;
    --transitionHover: .2s;
    --transformOrigin: center center;
    --scaleTransform: 1.07;
}

/*.principalGridOpen::-webkit-scrollbar{
    display: grid;
    -webkit-appearance: inherit;
    height: 8px;
    width: 8px;
    background: var(--backgroundMatriz);
}

.principalGridOpen::-webkit-scrollbar-thumb{
    background: #d0d0d0;
    border-radius: 4px;
}*/

.touchAction {
    touch-action: none;
}

.sizeStadium {
    width: 100%;
    height: 100%;
    position: relative;
}

.svgNormal {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 1.5s;
    touch-action: none;
    -ms-touch-action: none;
}

.spaceSvg {
    width: 100%;
    padding: 5% 15%;
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
}

.svgReduce {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transform: scale(0);
    transition: 1.5s;
}

.blue {
    --colorStrokeBlue: #225fe0;
    stroke: var(--colorStrokeBlue);
    fill: var(--colorStrokeBlue);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    transform-origin: var(--transformOrigin);
    -webkit-transform-origin: var(--transformOrigin);;
}

.blue:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeBlue);
}

.svgClass {
    transition: var(--transitionHover);
    transform-origin: var(--transformOrigin);
    -webkit-transform-origin: var(--transformOrigin);
    stroke-width: 1;
    stroke: red;
    transform-box: fill-box
}

.svgClass:hover {
    transform: scale(1.5);
}


.critic {
    --colorStrokeRed: #ff6c6c;
    stroke: var(--colorStrokeRed);
    fill: var(--colorStrokeRed);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    transform-origin: var(--transformOrigin);
    -webkit-transform-origin: var(--transformOrigin);
}

.critic:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeRed);
}

.normal {
    --colorStrokeGreen: #2eff51;
    stroke: var(--colorStrokeGreen);
    fill: var(--colorStrokeGreen);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    -webkit-transform-origin: var(--transformOrigin);
}

.normal:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeGreen);
}

.noStock {
    --colorStrokeGray: #efefef;
    stroke: var(--colorStrokeGray);
    fill: var(--colorStrokeGray);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    /*transform-origin: var(--transformOrigin);*/
    -webkit-transform-origin: var(--transformOrigin);;
}

.contSvg {
    overflow: hidden;
    object-fit: contain;
}

.cursorGrab {
    cursor: grab;
}

.cursorGrabbing {
    cursor: grabbing;
}

.mainContSvg {
}

.divTransition2 {
    animation: animationZoomIn 1s linear;
}

.divTransition {
    animation: animationZoom 1s linear;
}

.divZoom {
    position: absolute;
    bottom: calc(50% - 60px);
    right: 24px;
    display: grid;
    background: white;
    grid-template-rows: repeat(2, max-content);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 9000;
}

.divLesMore {
    --sizeZoomCont: 40px;
    display: grid;
    height: var(--sizeZoomCont);
    width: var(--sizeZoomCont);
    font-weight: 800;
    font-size: 16px;
    justify-items: center;
    align-items: center;
    color: gray;
    transition: .4s;
}

.divLesMore:hover {
    background: rgba(0, 0, 0, .1);
}

.mainDivSelectInput {
    position: relative;
    width: 180px;
}

.colorArea {
    color: var(--colorPrimaryTextDesktop);
    text-align: left;
}

.selectCss {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    border-radius: 3px;
    overflow: hidden;
    padding: 8px;
}

.styleOptions {
    background: #ffffff;
    padding: 8px;
    color: var(--colorSecundaryTextDesktop);
}

.styleOptions:hover {
    background: #e7f1ff;
}

.optionOpen {
    width: 100%;
    position: absolute;
    z-index: 90000;
    overflow: scroll;
    height: 200px;
    display: grid;
    transition: .2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.optionClose {
    width: 100%;
    position: absolute;
    display: grid;
    height: 0;
    overflow: hidden;
    transition: .1s;
}

.sizeDownArrow {
    height: 8px;
    width: 14px;
    position: relative;
}

.mainDivZones {
    width: 80%;
    margin: auto;
}

.gridZones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin: auto;
    padding-top: 16px;
    justify-content: space-between;
}

.gridColorZone {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
}

.divColor {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    overflow: hidden;
}

.sizeArrow {
    transform: rotate(270deg);
    height: 32px;
    width: 32px;
    position: absolute;
    right: 5%;
    top: 85%;
    animation: moveArrow 1.5s infinite linear;
}

.titleZone {
    color: var(--colorTitlesDesktop);
    font-size: 21px;
    font-weight: 500;
}


@keyframes moveArrow {
    0% {
        top: 85%;
    }
    50% {
        top: 92%;
    }
    100% {
        top: 85%;
    }
}

@keyframes animationZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes animationZoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
