.sizeBannerEWB {
    height: var(--heightBannerEWBDesk);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.propertiesLogoEWB {
    height: var(--sizeLogoEWB);
    width: var(--sizeLogoEWB);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--boxShadowCard);
    left: calc(50% - (var(--sizeLogoEWB) / 2));
    top: calc(100% - (var(--sizeLogoEWB) / 2));
}

.styleArrowEWBProducts {
    height: var(--sizeArrowEWBProduct);
    width: var(--sizeArrowEWBProduct);
    position: relative;
}

.sizeProductEWB {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.gridCarrouselProductsEWB {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 40px;
}

.overflowCarrouselProductsEWB {
    overflow: scroll;
}

.containerCarrouselEWB {
    display: grid;
    padding: 12px;
    background: white;
    position: relative;
}

.positionArrowEWBLeft {
    position: absolute;
    top: var(--arrowEWBPositionY);
    left: var(--arrowEWBPositionX);

}

.positionArrowEWBRight {
    position: absolute;
    top: var(--arrowEWBPositionY);
    right: var(--arrowEWBPositionX);
}

.widthContainer {
    width: 100%;
}
