.principalGridVertical {
    display: grid;
}

.displayIn {
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.displayOut {
    height: 24px;
    transition: .2s;
}

.sizeImage{
    aspect-ratio: 1/1;
}