.sizeBannerEWB {
    height: var(--heightBannerEWBDesk);
    width: 100%;
    position: relative;
}

.propertiesLogoEWB {
    height: var(--sizeLogoEWB);
    width: var(--sizeLogoEWB);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--boxShadowCard);
    left: calc(50% - (var(--sizeLogoEWB) / 2));
    top: calc(-1 * (var(--sizeLogoEWB) / 2));
}

.styleArrowEWBProducts {
    height: var(--sizeArrowEWBProduct);
    width: var(--sizeArrowEWBProduct);
    position: relative;
}

.sizeProductEWB {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.gridCarrouselProductsEWB {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 40px;
}

.overflowCarrouselProductsEWB {
    overflow: scroll;
}

.containerCarrouselEWB {
    display: grid;
    padding: 12px;
    background: white;
    position: relative;
}

.positionArrowEWBLeft {
    position: absolute;
    top: var(--arrowEWBPositionY);
    left: var(--arrowEWBPositionX);

}

.positionArrowEWBRight {
    position: absolute;
    top: var(--arrowEWBPositionY);
    right: var(--arrowEWBPositionX);
}

.widthContainer {
    width: 100%;
}

.mainContainerInfo{
    padding: 40px 0 12px 0;
    display: grid;
    justify-items: center;
    position: relative;
}

.mainDivTimer{
    --widthTimer: 85px;
    background: linear-gradient(177deg, rgba(237,54,26,1) 0%, rgba(215,112,33,1) 100%);
    width: var(--widthTimer);
    height: 90px;
    border-radius: 0 0 calc(var(--widthTimer)/2) calc(var(--widthTimer)/2);
    overflow: hidden;
    color: white;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    font-weight: 500;
    position: absolute;
    padding-top: 18px;
    top: 0;
    right: 32px;
}

.gridTags{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap:12px;
    margin-top: 8px;
}
