.styleButton{
    text-align: center;
    color: var(--colorPrimaryText);
    border-radius: 6px;
    padding: 8px 32px;
    background: rgb(214,214,213);
    background: linear-gradient(360deg, rgba(214,214,213,1) 0%, rgba(245,245,245,1) 100%);
    box-shadow: var(--boxShadowCard);
}

.styleButtonDarkMode{
    text-align: center;
    color: white;
    border-radius: 6px;
    padding: 8px 32px;
    background: rgb(25, 26, 27);
    background: linear-gradient(180deg, rgba(25, 26, 27, 1) 0%, rgba(38, 40, 41, 1) 100%);
}