.mainCont {
    position: relative;
    padding: 12px 44px 12px 12px;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    background: #f8f8f8;
}

.mainContClose {
    position: relative;
    padding: 12px 44px 12px 12px;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    background: #f8f8f8;
}

.emoticonContainerClose {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    justify-content: space-between;
    overflow: scroll;
    height: 21px;
    gap: 12px;
    transition: .4s;
    padding: 2px;
}

.emoticonContainerOpen {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    justify-content: space-between;
    gap: 12px;
    height: 84px;
    overflow: scroll;
    transition: .4s;
    padding-right: 2px;
}

.positionAddIcon {
    position: absolute;
    top: 14px;
    right: 12px;
}

.positionAddIconClose {
    position: absolute;
    top: 15px;
    right: 12px;
    transition: .4s;
}