.gridForm {
    overflow: hidden;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    padding: 16px 24px;
    scroll-snap-align: start;
    border-bottom: 2px solid var(--separationLineColor);
    border-top: 2px solid var(--separationLineColor);
}

.sizeIcon {
    width: 24px;
    height: 24px;
    position: relative;
}

.gridInfoForm {
    display: grid;
    gap: 8px;
    padding: 12px 0;
}