.bgHeaderSpix {
    background: rgb(7, 99, 185);
    background: linear-gradient(180deg, rgba(7, 99, 185, 1) 0%, rgba(6, 91, 172, 1) 100%);
}

.bgHeaderSpixDarkMode {
    background: rgb(19,21,23);
    background: linear-gradient(90deg, rgba(19,21,23,1) 0%, rgba(34,37,40,1) 100%);
}

.gridLogoBar{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.sizeLogoSpix{
    height: 28px;
    width: 28px;
    position: relative;
}

.sizeLogoMenu{
    height: 20px;
    width: 24px;
    position: relative;
}

