.mainDiv {
    height: max-content;
    width: 100%;
    background: white;
    padding: 24px;
    color: var(--colorPrimaryTextDesktop);
}

.gridButtons {
    display: grid;
    padding: 0 32px;
}

.buttonLevelUser {
    padding: 6px 12px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    background: var(--gradientBlueButton);
    color: white;
    margin: auto;
}

.spaceTitle {
    margin-bottom: 16px;
}

.mainText {
    text-align: justify;
    -webkit-hyphens: auto; /* A día de hoy aún es necesario el prefijo para soportar a Safari */
    hyphens: auto;
    margin-bottom: 16px;
}

.req {
    display: grid;
    gap: 4px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.disclaimer {
    text-align: justify;
    -webkit-hyphens: auto; /* A día de hoy aún es necesario el prefijo para soportar a Safari */
    hyphens: auto;
    margin-bottom: 24px;
}

.sizeImage {
    height: 17px;
    width: 17px;
    position: relative;
}

.actualLevel {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 6px;
    align-items: center;
}

.circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--gradientBlueButton);
}

.divRes {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
}

.logoSpix {
    width: 120px;
    height: 35px;
    position: relative;
    margin: auto;
    margin-bottom: 24px;
}

.mainContorno {
    border: 1px solid var(--separationLineColor);
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    padding: 24px 16px;
    border-radius: 8px;
    overflow: hidden;
}