.mainContMap {
    padding: 32px 40px;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content max-content;
}

.titleCont {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--separationLineColor);
}

.contMap {
    display: grid;
    gap: 16px;
    padding: 24px 0;
    overflow-y: hidden;
}

.imgMap {
    border-radius: 8px;
    aspect-ratio: 4/3;
    position: relative;
}

.gridLinkMap {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
    align-content: center;
    margin-top: 12px;
}

.sizeLogoMap {
    height: 16px;
    width: 16px;
    position: relative;
}