.sizeIcon{
    height: 12px;
    width: 12px;
    position: relative;
}
.gridOptionBar{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
}

.marginTop1{
    margin-bottom:1px;
}
.fontOptionBar{
    font-size: 13px;
    line-height: 13px;
    color: #8e8e8e;
}
.colorLike{
    color: var(--linkColor);
}
.colorNoLike{
    color: #8e8e8e;
}

.gridItems{
    gap: 4px;
}

.activateLikeIcon {
    animation: scaleLikeIcon .2s linear;
}

.desactivateLikeIcon {
    animation: deScaleLikeICon .2s linear;
}

@keyframes scaleLikeIcon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes deScaleLikeICon {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}