.sizeIcon{
    height: 12px;
    width: 12px;
    position: relative;
}
.gridOptionBar{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
}
.fontOptionBar{
    font-size: 12px;
    line-height: 12px;
    color: #8e8e8e;
}