.subTitleMargin {

}

.titleMargin {
    margin-bottom: 0;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    padding: 0 0 5px 0;
}

.gridStars{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
    align-items: center;
}

.sizeStar{
    height: 16px;
    width: 16px;
    position: relative;
}

.paddingRating {
    display: grid;
    align-items: end;
}

.fontTextReviews{
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: #007185;
}