.subTitleMargin {

}

.titleMargin {
    margin-bottom: 0;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    margin-top: 4px;
}

.gridStars{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
    align-items: center;
}

.sizeStar{
    height: 16px;
    width: 16px;
    position: relative;
}

.paddingRating {
    display: grid;
    align-items: end;
}