.containerProductProp {
    position: relative;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: white;
    object-fit: cover;
}

.boxShadowPro {
    box-shadow: var(--boxShadowCard);
    border-radius: 8px;
    overflow: hidden;
    background: white;
    position: relative;
}

.gridPriceWithDiscount {
    display: grid;
    align-content: center;
}

.gridInfoProduct {
    display: grid;
    gap: 4px;
    padding: 8px;
}

.aspectRatio {
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    margin: auto;
    background: white;
}

.image {
    object-fit: cover;
}