.mainPadding{
    padding: 4px;
    scroll-snap-align: start;
}
.mainDiv {
    display: grid;
    gap: 8px;
   /* box-shadow: 0 0 3px rgba(0, 0, 0, .25);*/
    border-radius: 6px;
    overflow: hidden;
    padding: 0 12px;
    transition: .4s;
    width: 100%;
}

.containerButton {
    display: grid;
    justify-content: right;
}

.gridQuestion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}