.gridRating {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 6px;
    padding-bottom: 8px;
}

.sizeStar {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.duration {
    color: var(--colorPrimaryTextDesktop);
}

.animationStar0 {
    animation: scaleLikeIcon0 var(--animattionTransition) linear;
}

.animationStar1 {
    animation: scaleLikeIcon1 var(--animattionTransition) calc(var(--animattionTransition) * 0.2) linear;
}

.animationStar2 {
    animation: scaleLikeIcon2 var(--animattionTransition) calc(var(--animattionTransition) * 0.4) linear;
}

.animationStar3 {
    animation: scaleLikeIcon3 var(--animattionTransition) calc(var(--animattionTransition) * 0.6) linear;
}

.animationStar4 {
    animation: scaleLikeIcon4 var(--animattionTransition) calc(var(--animattionTransition) * 0.8) linear;
}

.animationStarDis {
    animation: deScaleLikeICon .1s linear;
}

@keyframes scaleLikeIcon0 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon4 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes deScaleLikeICon {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}