.mainDiv{
    --paddingX: 16px;
    --paddingY: 16px;
    --borderRadious: 0;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
    background: linear-gradient(145deg, #3151e3 0%, #2f49d0 100.2%);
    z-index: 5000;
}

.gridUser {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
    padding: var(--paddingY) var(--paddingX);
    background: linear-gradient(145deg, #2d55e3 0%, #3962f3 100%);
    background: #3962f3;
    border-radius: 0 0 var(--borderRadious) var(--borderRadious);
}

.paddingGradient {
    padding: 2px;
    background: linear-gradient(90deg, rgb(114, 153, 210) 0%, rgb(166, 240, 245) 50%, rgb(142, 188, 241) 100%);
    border-radius: 50%;
}

.sizeProfileUser {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.userNick {
    font-size: 16px;
    color: white;
}

.underDiv {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 16px;
    background: linear-gradient(145deg, #2d55e3 0%, #3962f3 100%);
    background: #3962f3;
    border-radius: var(--borderRadious) var(--borderRadious) 0 0;
}

.sizeLogoSpix {
    height: 21px;
    width: 75px;
    position: relative;
}

.gridSections {
    height: 100%;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    padding: var(--paddingY) var(--paddingX);
    overflow: scroll;
    z-index: 500000;
}