.tabBase {
    width: 160px;
    height: 46px;
    color: var(--colorPrimaryTextDesktop);
    border-radius: 0 0 12px 12px;
    font-weight: 500;
    display: grid;
    place-items: center;
    position: relative;
    --colorTabLine: var(--separationLineColor);
    --backgroundTabColor: #09a909
}

.selected {
    height: 50px;
    background: white;
    background: var(--backgroundTabColor);
    color: white;
    font-size: 16px;
}

.selected:after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: white;
    bottom: -1px;
}


.noSelected {
    background: rgb(241, 241, 241);
}

.selectedItem {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
    z-index: 100;
}

.borderLeft {
    width: 32px;
    height: 32px;
    background: rgb(241, 241, 241);
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 100;
    border-radius: 50%;
}

.borderBlue {
    background: rgba(13, 111, 202, 1);
    background: white;
}

.borderGray {
    background: rgb(241, 241, 241);
}

.borderRight {
    width: 32px;
    height: 32px;
    background: rgba(13, 111, 202, 1);
    position: absolute;
    bottom: 0;
    left: -32px;
    z-index: 100;
    border-radius: 50%;
}

.borderOne {
    width: 16px;
    height: 16px;
    background: white;
    position: absolute;
    left: -16px;
    top: 0;
    z-index: 50;
}

.borderTwo {
    width: 16px;
    height: 16px;
    background: white;
    background: #09a909;
    position: absolute;
    z-index: 50;
    right: -15px;
    top: 0;
}