.tagsProperties {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    background: var(--linkColor);
    width: max-content;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
}
