.mainDiv {
    display: grid;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.mainDiv2{
    width: var(--maxWidthBodyContent);
    margin: auto;
    padding: 24px 0;
}

.aboutUs{
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 24px 0;
    background: rgba(0,0,0,.2);
}

.gridLeft {
    display: grid;
    /*border-right: 1px solid #eae9e9;*/
}

.gridSideImage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 16px;
    height: 100%;
    /*    background: linear-gradient(145deg, rgba(0,0,0,.03) 0%, rgba(0,0,0,.05) 100%);
         background: radial-gradient(circle, rgba(0,0,0,.01) 0%, rgba(0,0,0,.04) 100%);*/
    border-radius: 12px;
    overflow: hidden;
}


.gridRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.mainDivInfo {
    padding: 0 48px 0 24px;
}

.description{
    width: 80%;
    font-weight: 500;
}

.subGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.title {
    font-size: 28px;
    font-weight: 500;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
}

.Name {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 8px;
}

.gridInfoNew {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.firstGradient {
    padding: 4px;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(114, 153, 210) 0%, rgb(166, 240, 245) 50%, rgb(142, 188, 241) 100%);
}

.sizeLogo {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.button {
    padding: 4px 0;
    text-align: center;
    width: 120px;
    background: var(--gradientBlueButton);
    color: white;
    font-weight: 500;
    border-radius: 4px;
    overflow: hidden;
}

.gridButtons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    justify-content: left;
    padding-top: 24px;
}

.sizeSideImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    transition: .4s;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
    border-radius: 6px;
    overflow: hidden;
}

.sizeSideImage:hover {
    transform: scale(1.1);
}

.gridImageButton {
    display: grid;
    /*    grid-template-rows: 1fr max-content;
        gap: 16px;*/
}

.top {
    height: 100%;
    display: grid;
    align-content: center;
    padding-bottom: 48px;

}

.center {
    height: 100%;
    display: grid;
    align-content: center;
}

.bottom {
    height: 100%;
    display: grid;
    align-content: center;
    padding-top: 48px;
}

.button {
    height: 100%;
    display: grid;
    align-content: end;
}

.imagePopUp {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.sizeMap{
    height: 120px;
    width: 160px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    opacity: .9;
}

.divMap{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.gridContact{
    display: grid;
    align-content: space-between;
    justify-items: center;
}

.gridContactItem{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

