.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.deleteIcon {
    width: 26px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 500;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

.contMediaRender {
    position: relative;
    transition: .6s;
}

.label {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.contPlaceholder {
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
}

.contLabel {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.opacity {
    opacity: .5;
}

.contDrop {
    transition: .3s;
}

.borderDrop {
    border: 4px solid white;
    box-shadow: 2px 2px 0 orange, -2px -2px 0 orange, 2px -2px 0 orange, -2px 2px 0 orange;
    transform: scale(.95);
}

.cursorOpen {
    cursor: grab;
}

.position {
    box-shadow: 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 24px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    z-index: 1000;
    font-weight: 500;
    color: var(--colorPrimaryTextDesktop);
    background: white;
    position: absolute;
    top: 8px;
    right: 8px;
}