.gridImageSelection {
    display: grid;
    gap: 5px;
    grid-template-columns: max-content 1fr;
    width: 100%;
}

.gridSelectionZone {
    display: grid;
    gap: 5px;
    align-content: start;
}

.contImage {
    position: relative;
    width: 60px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-items: center;
    display: grid;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0 0 2px rgba(0,0,0, .8);
}

.playIconProperties {
    --sizePlay: 10px;
    width: var(--sizePlay);
    height: var(--sizePlay);
    position: absolute;
    top: calc(50% - (var(--sizePlay) / 2));
    left: calc(50% - (var(--sizePlay) / 2));
}

.paddingContImage {
    padding: 0 50px;
}

.contShowImage {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    display: grid;
    align-items: center;
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 100%);
    border-radius: 6px;
    overflow: hidden;
}

.playIconBig {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(255,255,255);
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.iframe{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    position: relative;
}

