.gridImageSelection {
    display: grid;
    gap: 8px;
    grid-template-columns: max-content 1fr;
    width: 100%;
}

.gridSelectionZone {
    display: grid;
    gap: 12px;
    align-content: start;
}

.contImage {
    position: relative;
    width: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 4px;
}

.playIconProperties {
    --sizePlay: 10px;
    width: var(--sizePlay);
    height: var(--sizePlay);
    position: absolute;
    top: calc(50% - (var(--sizePlay) / 2));
    left: calc(50% - (var(--sizePlay) / 2));
}

.contShowImage {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    display: grid;
    align-items: center;
    background: black;
    background: linear-gradient(180deg, rgba(0,0,0,.7) 0%,  rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 100%);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
}

.paddingContImage {
    padding: 0 50px;
}

.contShowVideo {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: grid;
}

.contLike{
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
}

