.mainDiv {
    display: grid;
    gap: 24px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    padding: 24px;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    align-items: center;
}

.gradient {
    background: var(--gradientProfileBlue);
    border-radius: 50%;
    padding: 3px;
}

.gridInfo {
    display: grid;
    gap: 8px;
}

.sizeRestrictionIcon {
    width: 14px;
    height: 14px;
    position: relative;
}

.sizeLogo {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.gridrestrictions {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding-top: 4px;
}

.gridResSocial {
    display: grid;
    gap: 6px;
    align-content: center;
}

.name {
    font-size: 18px;
    color: var(--colorTitlesDesktop);
}

.description {
    color: var(--colorPrimaryTextDesktop);
    width: 80%;
}

.atr {
    color: var(--colorSecundaryTextDesktop);
}

.category {
    color: var(--colorSecundaryTextDesktop);
}

.gridLogoSocial {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: start;
}

.sizeIcon {
    width: 16px;
    height: 16px;
    position: relative;
}

.sizePopUpImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}