.mainDiv {
    width: var(--maxWidthBodyContent);
    margin: 40px auto 0 auto;
    display: grid;
    gap: 40px;
}

.mainCard {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border-radius: 12px;
    overflow: scroll;
    padding: 24px;
    display: grid;
    gap: 40px;
    z-index: 700;
}

.separationLine {
    height: 1px;
    width: 100%;
    background: var(--separationLineColor);
}


