.mainDiv {
    width: var(--maxWidthBodyContent);
    margin: 40px auto 0 auto;
    display: grid;
    gap: 52px;
}

.mainCard {
/*    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    padding: 24px;
    overflow: scroll;
    border-radius: 12px;*/
    display: grid;
    gap: 52px;
}

.separationLine {
    height: 1px;
    width: 100%;
    background: var(--separationLineColor);
}

.gridInSearch{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

;
}


