.mainDiv {
    width: var(--maxWidthBodyContent);
    margin: 40px auto auto auto;
    display: grid;
}

.mainCard {
    display: grid;
    gap: 40px;
    padding-bottom: 40px;
}

.mainHeader {
    display: grid;
    gap: 40px;
}

.separationLine {
    height: 2px;
    width: 100%;
    background: var(--separationLineColor);
}

.gridInSearch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 12px;
}

.gridSectionProducts{
    display: grid;
    gap: 40px;
}


