.mainDiv {
    display: grid;
    padding: 32px 32px 32px 60px;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
}

.mainDiv2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.fullRadious {
    border-radius: 16px;
}

.noRadious {
    border-radius: 0 0 16px 16px;
}

