.mainDiv {
    display: grid;
}

.mainDiv2 {
    display: grid;
    padding: 4% 4% 12px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    position: relative;
}

.fullRadious {
    border-radius: 16px;
}

.noRadious {
    border-radius: 0 0 16px 16px;
}

