.mainDiv {
}

.writeQuestion {
    width: max-content;
    padding: 6px 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    margin-right: auto;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
}

.gridQuestions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.title {
    color: var(--colorTitlesDesktop);
    font-size: 21px;
}
