.mainDiv {
    --heighBreakdown: 10px;
    --borderRadious: 6px;
    padding: 24px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 12px;
    overflow: hidden;
}

.gridReview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 32px 0;
}

.gridHeader {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 48px;
    border-bottom: 1px solid var(--separationLineColor);
    padding-bottom: 24px;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
}

.totalReview {
    color: var(--colorTitlesDesktop);
    font-size: 16px;
}

.gridInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.calStar{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
}

.fontRating {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
}

.sizeStar {
    height: 20px;
    width: 20px;
    position: relative;
}

.bgGray {
    height: var(--heighBreakdown);
    border-radius: var(--borderRadious);
    overflow: hidden;
    background: rgba(0, 0, 0, .1);
}

.bgBlue {
    background: #2d7dff;
    height: var(--heighBreakdown);
    border-radius: var(--borderRadious);
    overflow: hidden;
}

.gridBrekdown {
    display: grid;
    gap: 6px;
}

.gridBreakDownAll {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
    color: var(--colorPrimaryTextDesktop);
}

.wirteReview {
    width: max-content;
    padding: 6px 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    margin-right: auto;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
}

