.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}

.first {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-weight: 500;
    text-align: left;
    align-content: start;
    transition: .4s;
    display: grid;
    border-radius: 12px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
}

.leftText {
    text-align: left;
    padding-left: 32px;
}

.rightText {
    text-align: right;
    padding-right: 32px;
}

.first:hover {
    transform: scale(1.05);
}

.all {
    height: 150px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    transition: .4s;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
}

.sizeImage {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;

}

.leftImage {
    left: 16px;
}

.rightImage {
    right: 16px;
}

.sizeImage2 {
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: 12px;
    right: calc(50% - 110px);
}

.all:hover {
    transform: scale(1.05);
}

.nameSection {
    font-size: 21px;
}

.nameSectionFirst {
    font-size: 28px;
    text-align: center;
    padding-top: 12px;
}

.totalProductsFirst {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.totalProducts {
    font-size: 14px;
    text-decoration: none;
}

.sizePromo {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .1;
    top: 0;
    bottom: 0;
}

.sizePromo:hover {
    opacity: .2;
}