.mainDiv {
    display: grid;
}

.title {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border-radius: 16px;
    color: var(--colorTitlesDesktop);
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    transition: .4s;
}

.contSlider {
    display: grid;
    width: 70%;
    /*
    padding: 16px 60px;
    gap: 48px;
    grid-template-columns: 0.8fr 1.3fr 2fr 1.3fr 0.8fr;
    */
    grid-template-columns: 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 32px;
}

.up {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seeGalery {
    text-decoration: underline;
    text-align: left;
    width: 100%;
    padding-top: 24px;
}
