.mainDiv {
    width: 100%;
    position: relative;
}

.title {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border-radius: 16px;
    color: var(--colorTitlesDesktop);
    text-align: center;
}

.contImage {
    width: 100%;
    aspect-ratio: 1/1;
    transition: .4s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .8);
}

.contImage:hover {
    scale: 1.2;
}

.sizeImage {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .4s;
}

.contSlider {
    --sizeDiv: calc(100% / 4);
    display: grid;
    /* grid-template-columns: var(--sizeDiv);
     grid-auto-flow: column;
     grid-auto-columns: var(--sizeDiv);*/
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: 52%;
}

.contSlider:before {
    content: "";
    border: 2px solid white;
    position: absolute;
    left: -20%;
    width: 140%;
    height: 80%;
    background: linear-gradient(145deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 100%);
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.contSlider:after{
    content: "";
    display: grid;
    text-align: center;
    font-weight: 500;
    width: 60px;
    height: 60px;
    position: absolute;
    border: 3px solid white;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    background: linear-gradient(145deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 100%);
}

.seeGalery {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -72px;
}

.first {
    transform: scale(1.2);
    transform-origin: bottom right;
}

.second {

}

.third {
}

.four {
    transform: scale(1.2);
    transform-origin: top left;
}

/*.top {
    margin-bottom: 30%;
    rotate: 10deg;
}

.bottom {
    margin-top: 30%;
    rotate: -10deg;
}*/
