.mainDiv {
    --sizeArrowC: 40px;
}

.title {
    font-size: 21px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.mainGridCarrousel {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 48px;
    align-items: center;
    padding: 32px 0;
}

.sizeImage {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.gridCarrousel {
    --gapCarro: 48px;
    --sizeImage: calc((100% - (var(--gapCarro) * 2)) / 3);
    display: grid;
    grid-template-columns: var(--sizeImage);
    grid-auto-columns: var(--sizeImage);
    grid-auto-flow: column;
    align-items: center;
    gap: 48px;
    transition: .6s;
}

.contCarrousel {
    width: 100%;
    overflow: hidden;
}

.focus {
    transform: scale(.9);
}

.noFocus {
    transform: scale(.7);
    transition: .4s;
}

.sizeArrow {
    width: var(--sizeArrowC);
    aspect-ratio: 1/1;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.seeGallery {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 24px;
    font-weight: 500;
}
