.mainDiv {
    --sizeArrowC: 40px;
}

.title {
    font-size: 21px;
    font-weight: 600;
    width: 100%;
}

.contVideoYoutube {
    width: 100%;
    aspect-ratio: 1/1;
    background: black;
    display: grid;
    align-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.videoYoutube {
    width: 100%;
    aspect-ratio: 1/1;
}

.mainGridCarrousel {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 48px;
    align-items: center;
}

.sizeImage {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    border-radius: 12px;
    transition: .4s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.gridCarrousel {
    --gapCarro: 48px;
    --sizeImage: calc((100% - (var(--gapCarro) * 2)) / 3);
    display: grid;
    grid-template-columns: var(--sizeImage);
    grid-auto-columns: var(--sizeImage);
    grid-auto-flow: column;
    align-items: center;
    gap: var(--gapCarro);
    transition: .6s;
}

.contCarrousel {
    width: 100%;
    overflow: hidden;
}

.focus {
    transform: scale(.85);
}

.noFocus {
    transform: scale(.65);
    transition: .4s;
}

.sizeArrow {
    width: var(--sizeArrowC);
    height: var(--sizeArrowC);
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.seeGallery {
    display: grid;
    text-decoration: underline;
    font-weight: 500;
}

.contSlider {
    width: calc(var(--maxWidthBodyContent) - (48px * 4) - (40px * 2));
}
