.mainDiv {
    display: grid;
    grid-template-columns: 1.8fr 3fr;
    background: linear-gradient(145deg, #f2e0ff 0%, #ffd9ce 50%, #f4d1ff 100%);
    border-radius: 32px;
    padding: 0 4%;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin: auto;
    width: 100%;
    border-radius: 16px;
}

.gridCarrousel {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 20px;
    align-items: center;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    transition: .4s;
}

.gridImages {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.5fr 1fr 0.7fr;
    align-items: center;
    gap: 48px;
}


.noFocus {
    transform: scale(.7);
    transition: .4s;
}

.focus {
    transform: scale(.9);
    transition: .4s;
}


.contSlider {
    width: var(--maxWidthBodyContent);
    width: 920px;
    margin: auto;
    padding: 4px 16px;
    border-radius: 16px;
}

.noFocus2 {
    z-index: 80;
    transition: .4s;
}

.noFocus2:hover {
    transform: scale(1.05);
}

.gridSocialContact {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    width: 50%;
    gap: 32px;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 20px;
    animation: animationDescription 1s linear;
}

.gridContact {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.contDirection {
    width: max-content;
    margin: auto;
    color: #0f1316;
}

.up {
    display: grid;
    justify-items: center;
    width: 80%;
    padding: 48px 0;
    border-radius: 16px;
}

.description {
    color: #0f1316;
    width: 50%;
    margin: auto;
    font-size: 14px;
    animation: animationDescription 1s linear;
    padding: 12px 0;
}

.sizeArrow {
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid red;
}
