.gridAnnouncement {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    font-weight: 500;
    margin: auto;
    font-size: 12px;
}

.backgroundBH{
    background: linear-gradient(145deg, #ffc3e1 0%, #f1acc1 100%);
    color: black;
}

.backgroundEvents{
    background: linear-gradient(145deg, #FE5858 0%, #f86307 100%);
    background: linear-gradient(145deg, #5F0A87 0%, #9d337d 100%);
    background: linear-gradient(180deg, #C81F70 0%, #ee4042 100%);
    color: white;
}

.backgroundRestaurant {
    background: linear-gradient(145deg, #5F0A87 0%, #9d337d 100%);
    color: white;
}


.sizeIcon{
    width: 24px;
    height: 24px;
    position: relative;
}

.announcement {

}

.link {
    text-decoration: underline;
}