.sizeContainer {
    width: 100%;
    max-width: 736px;
    aspect-ratio: 1/1;
    position: relative;
    background: black;
    display: grid;
    align-items: center;
    justify-items: center;
}

.contShowImage {
    width: 100%;
    aspect-ratio: 9/8;
    position: relative;
    display: grid;
    align-items: center;
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 100%);
    border-radius: 6px;
    overflow: hidden;
    scroll-snap-align: start;
}

.iframe{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    position: relative;
}

.overflowDiv {
    overflow: scroll;
    position: relative;
    scroll-behavior: smooth;

}

.sizeLogo {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 50px;
    aspect-ratio: 1/1;
    z-index: 100;
    border-radius: 50%;
    overflow: hidden;
}

.playIconBig {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(255,255,255);
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.gradientLogo {
    width: 60px;
    padding: 4px;
    background: var(--gradientLogos);
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 16px;
    right: 16px;
    overflow: hidden;
    position: absolute;
}

.logo {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: white;
}