.mainDiv {
    overflow-x: scroll;
    padding: 0 16px 16px 16px;
}

.gridHeader {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding-bottom: 24px;
    align-items: center;
}

.seeMore {
    color: var(--linkColor);
    font-weight: normal;
}

.writeQuestion {
    width: max-content;
    padding: 6px 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    margin-right: auto;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 32px;
}

.title {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}