.mainDiv {
    overflow-x: scroll;
    padding: 4px 16px;
}


.writeQuestion {
    width: max-content;
    padding: 6px 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    margin-right: auto;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 24px;
}

.title {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
    padding-bottom: 24px;
}