.mainDiv {
    display: grid;
    gap: 16px;
    padding: 0 16px;
}

.mainCont {
    display: grid;
    gap: 4px;
    padding-top: 24px;
    position: relative;
}

.gridWishLike{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    padding-bottom: 4px;
}

.contLike{
    position: absolute;
    top: 20px;
    right: 12px;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.gradient {
    background: var(--gradientProfileBlue);
    border-radius: 50%;
    padding: 2px;
}

.gridInfo {
    display: grid;
}

.gridInfoUnder {
    display: grid;
    gap: 12px;
}

.sizeRestrictionIcon {
    width: 14px;
    height: 14px;
    position: relative;
}

.sizeLogo {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.gridrestrictions {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    align-items: center;
    gap: 8px;
    padding-top: 4px;
    font-size: 16px;
}

.gridResSocial {
    display: grid;
    gap: 6px;
    align-content: center;
}

.name {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.atr {
    color: var(--colorSecundaryTextDesktop);
}

.category {
    color: var(--colorSecundaryTextDesktop);
}

.gridLogoSocial {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: start;
}

.buttonStyle {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 6px;
    background: var(--gradientBlueButton);
    color: white;
    width: max-content;
    padding: 5px 16px;
    border-radius: 4px;
    margin: auto;
    font-weight: 500;
    margin-top: 20px;
}

.sizeIconButton {
    width: 24px;
    height: 24px;
    position: relative;
    padding-top: 16px;
}

.sizeIcon {
    width: 16px;
    height: 16px;
    position: relative;
}

.tagCategory {
    padding: 1px 12px;
    background: linear-gradient(145deg, #fc8209 0%, #ff6200 100%);
    border-radius: 16px;
    overflow: hidden;
    width: max-content;
    color: white;
    font-size: 12px;
}

.gridAtr {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8px;
}

.separationLine {
    height: 1px;
    background: var(--separationLineColor);
    width: 100%;
}

.gridContact {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    align-items: center;
    gap: 8px;
    padding-top: 2px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
    color: var(--colorSecundaryTextDesktop);
}

.sizeIcon {
    width: 16px;
    height: 16px;
    position: relative;
}

.contContact{
   color: var(--colorPrimaryTextDesktop);
    display: grid;
}

.gridSocialRedes {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gridProduceLogo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
    color: var(--colorSecundaryTextDesktop);
}

.produce{
    color: var(--colorSecundaryTextDesktop);
}