.mainDiv {
    display: grid;
    padding: 0 16px;
    gap: 24px;
}

.contInfo{
    padding-top: 24px;
}

.separationLine{
    height: 2px;
    background: var(--separationLineColor);
    width: 100%;
}