.mainDiv {
    display: grid;
    gap: 40px;
    width: 100%;
    padding: 24px 0;
}

.paddingGeneral {
    padding: 0 16px;
    overflow: scroll;
}

.separationLine {
    width: calc(100% - 32px);
    width: 100%;
    margin: auto;
    height: 1px;
    background: var(--separationLineColor);
}