.mainDiv {
    display: grid;
    gap: 28px;
    width: 100%;
    padding-bottom: 24px;
}

.paddingGeneral {
    padding: 0 16px;
    overflow: scroll;
}

.separationLine {
    width: calc(100% - 32px);
    width: 100%;
    margin: auto;
    height: 1px;
    background: var(--separationLineColor);
}

.gridSectionProducts {
    display: grid;
    gap: 32px;
}