.mainDiv {
    --sizeSection: 450px;
    display: grid;
    padding: 0 16px;
    overflow: scroll;
}

.gridImageTickets {
    display: grid;
    gap: 32px;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
}

.title {
    font-size: 21px;
}

.gridTickets {
    display: grid;
    gap: 16px;
}

.ticketCont {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    padding: 16px 12px;
    gap: 6px;
    display: grid;
    grid-template-columns: 1fr max-content;
    height: max-content;
    position: relative;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background: purple;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.circle2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.gridColorName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
}


.rightDiv {
    display: grid;
    align-content: center;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    color: var(--colorTitlesDesktop);
    padding-bottom: 4px;
}

.fileSeat {
    font-size: 12px;
    color: var(--colorPrimaryTextDesktop);
}

.atr {
    color: var(--colorSecundaryTextDesktop);
}

.price {
    font-size: 16px;
    font-weight: 500;
}

.discount {
    font-size: 12px;
    color: var(--colorSecundaryTextDesktop);
}

.title {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 12px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}

.buttonStyle {
    padding: 2px 12px;
    border-radius: 2px;
    overflow: hidden;
    color: var(--linkColor);
    width: 70%;
}

.gridOptions {
    position: absolute;
    display: grid;
    gap: 12px;
    width: 300px;
    overflow: hidden;
    transition: .4s;
    background: white;
    z-index: 100;
}

.select {
    display: grid;
    width: 80%;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 12px;
    overflow: scroll;
    margin: auto;
}

.overflow {
    overflow: scroll;
    width: 100%;
}

.arrowStyle {
    width: 20px;
    height: 20px;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.gridArrowsTags {
    display: grid;
    align-items: center;
    width: 100%;
    padding-bottom: 3px;
}

.contCircle{
    padding-top: 5px;
}

.positionBottomArrow {
    --sizeArrow: 24px;
    padding: 8px;
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    position: absolute;
    background: white;
    left: calc(50% - (var(--sizeArrow) / 2) - 8px);
    top: calc(100% - var(--sizeArrow));
    z-index: 1000;
}

.sizeBottomArrow {
    height: var(--sizeArrow);
    width: var(--sizeArrow);
    position: relative;
}

.relative {
    position: relative;
}

.gridDirection {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    width: max-content;
    margin: auto;
}

.seeMap {
    color: var(--linkColor);
}

.sizeGoogleMap {
    width: 16px;
    height: 16px;
    position: relative;
}

.nameVenue {
    font-size: 21px;
    text-align: center;
}

.bottomArrowDate {
    width: 16px;
    height: 16px;
    position: relative;
    transition: .4s;
}

.option {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 3px 12px;
    border-radius: 16px;
    color: var(--colorPrimaryTextDesktop);
}

.optionSelected {
    border: 1px solid black;
    padding: 3px 12px;
    border-radius: 16px;
    color: white;
    background: black;
}

.contDates {
    position: relative;
    padding-bottom: 24px;
    overflow: scroll;
}

.gridDates {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 12px;
    background: white;
    overflow: scroll;
}

.buttonDate {
    display: grid;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    transition: .4s;
    position: relative;
    text-align: left;
    min-width: 200px;
}

.buttonSelected {
    border: 1px solid rgba(19, 135, 215, .2);
    background: rgba(19, 135, 215, .2);
}

.gridRightDiv {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 16px;
    padding-bottom: 24px;
}

.directionDate {
    font-size: 12px;
    color: var(--colorSecundaryTextDesktop);
    text-overflow: ellipsis;
}

.discountBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3px;
    background: rgba(0, 128, 0, .1);
    padding: 3px 5px;
    height: max-content;
    width: max-content;
    font-size: 12px;
    line-height: 12px;
    color: #309630;
}

.discountStyle {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #309630;
}

.buttonStyle {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 6px;
    background: var(--gradientBlueButton);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 600;
    width: 70%;
    font-size: 14px;
    margin: auto;
    justify-content: center;
    margin-top: 28px;
}


.sizeIconButton {
    width: 24px;
    height: 24px;
    position: relative;
}
