.mainDiv {
    --widthCard: 1350px;
    display: grid;
    grid-template-columns: 800px 1fr;
    width: var(--widthCard);
    padding: 20px;
    left: calc(50% - (var(--widthCard)/2) );
    background: white;
    box-shadow: 0 0 21px rgba(0, 0, 0, .3);
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.gridLeft {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    /*border-right: 1px solid #eae9e9;*/
}

.gridSideImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0 16px;
    height: 100%;
   /*    background: linear-gradient(145deg, rgba(0,0,0,.03) 0%, rgba(0,0,0,.05) 100%);
        background: radial-gradient(circle, rgba(0,0,0,.01) 0%, rgba(0,0,0,.04) 100%);*/
    border-radius: 12px;
    overflow: hidden;
}

.gridSideImage {

}


.gridRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.mainDivInfo {
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 0 48px 0 24px;
}

.subGrid{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 28px;
    font-weight: 500;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
}

.Name {
    font-size: 24px;
    font-weight: 500;
}

.gridInfoNew {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.firstGradient {
    padding: 4px;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(114, 153, 210) 0%, rgb(166, 240, 245) 50%, rgb(142, 188, 241) 100%);
}

.sizeLogo {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.button {
    padding: 4px 0;
    text-align: center;
    width: 120px;
    background: var(--gradientBlueButton);
    color: white;
    font-weight: 500;
    border-radius: 4px;
    overflow: hidden;
}

.gridButtons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    justify-content: left;
}

.sizeSideImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    transition: .4s;
    box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    border-radius: 6px;
    overflow: hidden;
}

.sizeSideImage:hover {
    transform: scale(1.1);
}

.gridImageButton {
    display: grid;
/*    grid-template-rows: 1fr max-content;
    gap: 16px;*/
}

.top {
    height: 100%;
    display: grid;
    align-content: center;
    padding-bottom: 48px;

}

.center {
    height: 100%;
    display: grid;
    align-content: center;
}

.bottom {
    height: 100%;
    display: grid;
    align-content: center;
    padding-top: 48px;
}

.button {
    height: 100%;
    display: grid;
    align-content: end;
}

.imagePopUp {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

