.mainGrid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 32px;
    align-items: center;
    padding: 16px 32px;
    color: white;
}

.Name {
    font-size: 28px;
    font-weight: 500;
}

.gridInfo {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    justify-content: right;
    font-size: 16px;
}

.sizeIcon{
    height: 18px;
    width: 18px;
    position: relative;
}

.gridWhatssap{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}