.mainDiv {
    width: var(--maxWidthBodyContent);
    margin: auto;
    padding: 72px 4px 48px 4px;
    display: grid;
    gap: 40px;
}

.mainGradient {
    padding-bottom: 240px;
    position: relative;
}


.main {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    align-content: center;
}

.gridPpalProducts {
    padding: 0 20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 16px;
}

.mainDivHeader {
    position: absolute;
    bottom: 0;
    left: calc(50% - (var(--maxWidthBodyContent) / 2));
    width: var(--maxWidthBodyContent);
    display: grid;
    margin: auto;
}

.gridReviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gridQuestions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 66%;
}

.separationLine {
    height: 2px;
    background: var(--separationLineColor);
    width: 100%;
}

.gridOffer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.gridRecomendados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.gridSectionProducts {
    display: grid;
    gap: 40px;
}

.gridForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 12px;
}

.spaceNavSectionProducts {
    padding: 12px 0;
}