.mainDiv{
}
.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 6px;
    justify-content: center;
    padding-top: 5px;
}

.title {
    font-size: 28px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.gridRating{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    padding-bottom: 32px;
    gap: 12px;
}

.rating{
    font-size: 24px;
    font-weight: 500;
}

.sizeStar{
    height: 20px;
    width: 20px;
    position: relative;
}

.seeMore{
    padding-top: 32px;
    font-size: 16px;
    font-weight: 500;
    color: var(--linkColor);
    cursor: pointer;
    text-decoration: underline;
}