.mainDiv {
    overflow: hidden;
    height: 44px;
    top: -1px;
    position: sticky;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 12px;
    padding: 0 4px;
    z-index: 900;
    background: white;
}

.mainDivStiky {
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    border-radius: 6px;
    overflow: hidden;
}


.tag {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 16px;
    height: max-content;
    padding: 2px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-align: center;
    background: white;
    color: var(--colorPrimaryTextDesktop);
}

.tagSelected {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 16px;
    height: max-content;
    padding: 4px 12px;
    font-weight: 500;
    overflow: hidden;
    background: black;
    text-overflow: ellipsis;
    text-align: center;
    color: white;
}