.mainDiv {
    overflow: hidden;
    height: 48px;
    position: fixed;
    position: sticky;
    top: 10px;
    display: grid;
    width: calc(var(--maxWidthBodyContent) - 8px);
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 12px;
    padding: 0 32px;
    grid-template-columns: max-content;
    z-index: 9000000;
    background: white;
    border-radius: 6px;
    transition: .4s;
    background: linear-gradient(180deg, rgba(25, 26, 27, 1) 0%, rgba(38, 40, 41, 1) 100%);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
}


.tag {
    /*border: 1px solid rgba(0, 0, 0, .5);*/
    border-radius: 6px;
    height: max-content;
    padding: 4px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-align: center;
    color: white;
}

.tag:hover{
    background: white;
    color: var(--colorTitlesDesktop);
}

.tagSelected {
    border-radius: 6px;
    height: max-content;
    padding: 4px 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background: white;
    color: var(--colorTitlesDesktop);
}