.mainDiv {
    --gapSection: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--gapSection);
    padding: 40px 0 52px 0;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
}

.gridProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gapSection);
}

.seeMore{
    font-size: 16px;
    font-weight: 500;
    color: var(--linkColor);
    cursor: pointer;
    text-decoration: underline;
}