.mainCont {
    --firstMargin: 52%;
    --secondMargin: 40%;
    width: 100%;
}

.mainDiv {
    display: grid;
}

.gridHours {
    display: grid;
    gap: 12px;
}

.subtitle {
    font-size: 16px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
    padding-bottom: 24px;
}

.styleButton {
    padding: 8px 24px;
    border-radius: 4px;
    background: var(--gradientBlueButton);
    color: white;
    width: max-content;
    margin: 20px auto auto auto;
    display: grid;
}

.tagDisponible1 {
    color: white;
    background: #10c010;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.tagReservado1 {
    color: white;
    background: #ff4a4a;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.tagNoAtention1 {
    color: white;
    background: rgba(0, 0, 0, .2);
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.tagNoAtention2 {
    background: rgba(0, 0, 0, .2);
    height: 2px;
    border-radius: 1px;
    width: 90%;
    margin: auto;
}

.tagDisponible2 {
    background: #10c010;
    height: 2px;
    border-radius: 1px;
    width: 90%;
    margin: auto;
}

.tagReservado2 {
    background: #ff4a4a;
    height: 2px;
    border-radius: 1px;
    width: 90%;
    margin: auto;
}

.gridHoursLapse {
    display: grid;
    position: relative;
    padding: 16px 24px;
    border-left: 2px solid rgba(0, 0, 0, .1);
    gap: 12px;
}

.gridHoursLapse:after {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: -20px;
    left: -11px;
}

.gridHoursLapse:before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
    position: absolute;
    bottom: -20px;
    left: -11px;
}


.lineCircle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
    margin: auto;
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(3, 148px);
    padding-bottom: 20px;
    gap: 6px;
}

.hour {
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--colorPrimaryTextDesktop);
}

.title {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.baseTag {
    padding: 6px 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 14px;
    position: relative;
    color: var(--colorPrimaryTextDesktop);
    width: max-content;
}

.leftSide {
    margin-right: var(--firstMargin);
    margin-left: var(--secondMargin);
}

.rightSide {
    margin-left: var(--firstMargin);
    margin-right: var(--secondMargin);
}

.baseCircle {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    left: -33px;
}

.gridTimeLapse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.gridInfo {
    display: grid;
    gap: 28px;
}

