.mainCont {
    padding: 24px 16px 32px 16px;
    display: grid;
    gap: 32px;
    --animattionTransition: .4s;
    --rotation: -360deg;
}

.containerInput {
    --backgroundInput: #f8f8f8;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--shadowUnderProducts);
    background: var(--backgroundInput);
    padding: 12px;
}

.sizeInputTitle {
    display: grid;
    align-items: center;
    width: 100%;
    resize: none;
    background: var(--backgroundInput);
}

.sizeInputReview {
    width: 100%;
    resize: none;
    height: 200px;
    background: var(--backgroundInput);
}

.paddingTitleInter {
    padding-bottom: 16px;
}

.styleButton {
    padding: 8px 56px;
    border-radius: 4px;
    background: var(--gradientBlueButton);
    margin: auto;
    color: white;
    display: grid;
}

.gridAddPhotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.emoticonContainerClose {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17px);
    justify-content: space-between;
    gap: 16px;
    overflow: hidden;
    align-items: center;
    height: 48px;
    border-radius: 8px;
    transition: .4s;
    position: relative;
    width: 100%;
    padding: 14px 48px 14px 16px;
    background: #f8f8f8;
    box-shadow: var(--shadowUnderProducts);
}

.emoticonContainerOpen {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17px);
    justify-content: space-between;
    gap: 16px;
    height: 114px;
    overflow: scroll;
    border-radius: 8px;
    position: relative;
    transition: .4s;
    width: 100%;
    padding: 14px 48px 14px 16px;
    background: #f8f8f8;
    box-shadow: var(--shadowUnderProducts);
}

.positionAddIcon {
    position: absolute;
    top: 16px;
    right: 10px;
    opacity: .6;
}

.sizeStar {
    height: 42px;
    width: 42px;
    position: relative;
}

.gridReviewStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 8px;
}

.mainContUploadImage{
    position: relative;
    overflow: hidden;
    opacity: .8;
}

.imagePopUp{
    width: 100%;
    aspect-ratio: 3/4;
}

.positonDeleteIcon {
    position: absolute;
    height: 16px;
    width: 16px;
    background: #c5c7c7;
    top: 4px;
    right: 4px;
    transition: .4s;
    z-index: 10000;
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
}

.animationStar0 {
    animation: scaleLikeIcon0 var(--animattionTransition) linear;
}

.animationStar1 {
    animation: scaleLikeIcon1 var(--animattionTransition) calc(var(--animattionTransition) * 0.2) linear;
}

.animationStar2 {
    animation: scaleLikeIcon2 var(--animattionTransition) calc(var(--animattionTransition) * 0.4) linear;
}

.animationStar3 {
    animation: scaleLikeIcon3 var(--animattionTransition) calc(var(--animattionTransition) * 0.6) linear;
}

.animationStar4 {
    animation: scaleLikeIcon4 var(--animattionTransition) calc(var(--animattionTransition) * 0.8) linear;
}

.animationStarDis {
    animation: deScaleLikeICon .1s linear;
}

@keyframes scaleLikeIcon0 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleLikeIcon4 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes deScaleLikeICon {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes deScaleLikeICon {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
