.mainDiv {
    height: auto;
    padding: 24px var(--paddingXMainContent) var(--paddingBottomAllContent) var(--paddingXMainContent);
    display: grid;
}

.mainDivTitle {
    padding-bottom: 32px;
}

.title {
    font-size: 28px;
}

.subTitle {
    color: var(--colorPrimaryTextDesktop);
}

.spaceOtherGender {
    margin-top: 12px;
}

.sizeLogo {
    height: 35px;
    width: 120px;
    position: relative;
    margin: auto;
}

.line {
    border-bottom: 2px solid var(--separationLineColor);
    padding-bottom: 20px;
}

.mainDivEdit {
    height: 100%;
    width: 100%;
    padding-right: 4px;
    margin-right: auto;
    overflow: scroll;
}

.titleInputs {
    color: var(--colorPrimaryTextDesktop);
}

.styleInput {
    padding: 6px 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    outline: none;
    text-align: left;
    position: relative;
    background: white;
}

.sizeProfilePic {
    display: grid;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.paddingGradient {
    padding: 4px;
    background: linear-gradient(90deg, rgb(114, 153, 210) 0%, rgb(166, 240, 245) 50%, rgb(142, 188, 241) 100%);
    border-radius: 50%;
    width: max-content;
    position: relative;
}

.labelPhoto {
    width: max-content;
    margin: auto;
    color: var(--linkColor);
    cursor: pointer;
}

.gridOptions {
    display: grid;
    gap: 24px;
}

.gridNameInput {
    display: grid;
    grid-template-columns: 85px 1fr;
    gap: 16px;
    align-items: center;
}

.buttonConfirm {
    background: var(--gradientBlueButton);
    margin: 24px auto auto auto;
    padding: 6px 24px;
    color: white;
    width: max-content;
    border-radius: 4px;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 16px;
    justify-items: left;
}

.editProfilePic {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--gradientBlueButton);
    border-radius: 50%;
    cursor: pointer;
}

.user {
    color: var(--colorPrimaryTextDesktop);
}

.styleInputFile {
    height: 0;
    width: 0;
    overflow: hidden;
}

.datePicker {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.datePicker::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.placeHolderDate {
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    position: absolute;
}

.fontSize {
    font-size: 12px;
}

.optionGrid {
    padding: 6px 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    align-items: center;
    gap: 8px;
}

.optionGridNat {
    padding: 6px 0 6px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    align-items: center;
    gap: 8px;
}

.divArrow {
    display: grid;
    justify-content: right;
}

.optionGridPopUp {
    padding: 6px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}

.option {
    background-repeat: no-repeat;
    display: grid;
}

.mainDivPopUp {
    padding: 24px 32px;
    overflow: scroll;
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 80vh;
}

.gridOptionsFlag {
    height: 100%;
    display: grid;
    gap: 8px;
    overflow: scroll;
}

.titlePopUp {
    font-size: 16px;
    padding-bottom: 12px;
}

.buttonAccept {
    padding: 6px 32px;
    background: var(--gradientBlueButton);
    width: max-content;
    margin: auto;
    color: white;
    border-radius: 4px;
}


