.contVar {
    --spaceYContResPro: 12px;
    --spaceXContResPro: 12px;
}

.principalGrid {
    display: grid;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    padding: 16px var(--spaceXContResPro);
}

.paddingContResult {
    padding-bottom: 80px;
}

.paddingContResult0 {
    padding-bottom: 0;
}

.styleGridVar {
    padding-right: var(--spaceXContResPro);
    border-right: 1px solid var(--separationLineColor);
    position: relative;
}

.numItemSelected {
    --fontSize: 16px;
    position: absolute;
    top: -6px;
    left: 11px;
    font-size: var(--fontSize);
    line-height: var(--fontSize);
}

.bannerSize {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: top;
    position: relative;
}

.gridTagsCont {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 12px;
    overflow: scroll;
}

.sizeBuyCAr {
    height: 20px;
    width: 25px;
    position: relative;
}

.separationiLineSection {
    border-bottom: 2px solid var(--separationLineColor);
}

.tagStyle {
    color: white;
    background: var(--purpleGradientTag);
    padding: 2px 8px;
    border-radius: 3px;
}

.addIconStyle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

.contAddItem {
    background: white;
    display: grid;
    align-items: center;
    padding: 0 12px;
    border-left: 1px solid #c7c7c7;
}

.gridTabs {
    border-radius: 8px 8px 0 0;
    display: grid;
    grid-template-columns: 1fr max-content;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    background: #eaeaea;
}

.styleSnapScroll {
    overflow: scroll;
    transition: .4s;
    background: #eaeaea;
}

.snapScroll {
    scroll-snap-align: start;
}

.gridTabsNoCar {
    border-radius: 8px 8px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0, 0, 0, .05);
    align-items: center;
    gap: 4px;
}

.TabIcon {
    padding: 10px;
    border-radius: 8px 8px 0 0;
    color: var(--colorPrimaryText);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    position: relative;
    border: 1px solid #dadada;
}


/*.TabIcon::after {
    content: " ";
    width: 1px;
    height: 24px;
    right: 0;
    background: #bebebe;
    position: absolute;
}*/

.TabIconSelected {
    padding: 10px;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    background: white;
    color: var(--colorPrimaryText);
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 2px;
    align-items: center;
}

.nameElipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerClients {
    display: grid;
    grid-template-columns: 50%;
    grid-auto-columns: 50%;
    grid-auto-flow: column;
    align-items: center;
    transition: .5s;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    background: #eaeaea;

}

.mainContPop {
    padding: 32px 24px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 12px;
    height: 100%;
}

.contTitleClose {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--separationLineColor);
}

.sizeCloseimg {
    height: 10px;
    width: 10px;
    position: relative;
    border-radius: 50%;
    display: inline;
    opacity: .5;
}

.styleInput {
    border: 2px solid var(--separationLineColor);
    width: 100%;
    padding: 12px;
}

.gridInfoInput {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 8px;
}

.gridInputs {
    grid-template-rows: max-content max-content;
    display: grid;
    gap: 16px;
    padding: 12px 0;
    overflow: scroll;
}

.Arrow {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 8px;
    animation: moveArrow 1.5s infinite linear;
}

.buttonValid{
    padding: 8px 48px;
    background: var(--gradientBlueButton);
    color: white;
    margin: auto;
    border-radius: 4px;
}
.buttonInvalid{
    padding: 8px 48px;
    background: #e5e5e5;
    color: white;
    margin: auto;
    border-radius: 4px;
}

@keyframes moveArrow {
    0% {
        right: 8px;
    }
    50% {
        right: 24px;
    }
    100% {
        right: 8px;
    }
}