.mainDiv {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    border-radius: 4px;
    padding: 4px 12px;
    transition: .4s;
    margin: 12px 0;
}

.mainDivSelected {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    border-radius: 4px;
    padding: 4px 12px;
    background: rgba(255, 255, 255, .4);
    transition: .4s;
    margin: 12px 0;
}

.mainDiv:hover {
    background: rgba(255, 255, 255, .4);
}

.sizeImage {
    height: 32px;
    width: 32px;
    position: relative;
}

.sizeImageCreateSite {
    height: 16px;
    width: 16px;
    position: relative;
}

.infoDiv {
    text-align: left;
    padding: 12px;
}

.name {
    font-size: 14px;
    color: white;
}

.description {
    color: white;
}

.gridSubItemsOpen {
    overflow: hidden;
    height: 100%;
    display: grid;
    transition: .6s;
    padding-left: 12px;
}

.gridSubItemsClose {
    overflow: hidden;
    height: 0;
    display: grid;
    transition: .6s;
    padding-left: 12px;
}

.open {
    overflow: hidden;
    height: 100%;
    display: grid;
    transition: .6s;
    padding-left: 24px;
}

.close {
    overflow: hidden;
    height: 0;
    display: grid;
    transition: .6s;
    padding-left: 24px;
}

.White {
    background: rgba(255, 255, 255, .4);
}

@keyframes animationInit {
    0% {
        height: 0;
    }
    100% {
        height: 10%;
    }
}

.subItemGrid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
    padding: 4px 12px;
    align-items: center;
    color: white;
    margin-left: 12px;
}

.subItemName {
    text-align: left;
}

.gridNameIcon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 4px;
}

.gridNameIcon2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 4px;
}

.gridNameIcon2:hover{
    background: rgba(255, 255, 255, .4);
}

.gridNameIcon:hover{
    background: rgba(255, 255, 255, .4);
}

.gridSubSite {
    display: grid;
    gap: 16px;
    padding: 12px 12px 12px 24px;
    color: white;
    text-align: left;
}

.sizeArrow {
    height: 30px;
    width: 24px;
    position: relative;
    transition: .4s;
}

.arrowTransform {
    transform: rotate(90deg);
}

.optionSite{
    text-align: left;
}

.sizeIconSubSection{
    width: 16px;
    height: 16px;
    position: relative;
}
