.mainDiv {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    background: white;
    border-radius: 4px;
    padding: 4px 12px;
    width: 240px;
    transition: .4s;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.mainDiv:hover {
    transform: scale(1.05);
    background: #e9ecf3;
}

.sizeImage {
    height: 32px;
    width: 32px;
    position: relative;
}

.infoDiv {
    padding: 12px;
}

.name {
    font-size: 16px;
    color: var(--colorTitlesDesktop);
}

.description {
    color: var(--colorPrimaryTextDesktop);
}