.mainDiv {
    height: 100%;
    padding: 24px 5% 53px 5%;
    overflow: scroll;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.mainDivTitle {
    padding-bottom: 24px;
}

.title {
    font-size: 28px;
}

.subTitle {
    color: var(--colorPrimaryTextDesktop);
}

.sizeLogo {
    height: 35px;
    width: 120px;
    position: relative;
    margin: auto;
}

.line {
    border-bottom: 2px solid var(--separationLineColor);
    padding-bottom: 20px;
}

.mainDivEdit {
    padding: 4px 4px 4px 0;
    height: 100%;
    overflow: scroll;
    width: 480px;
    margin-right: auto;
}

.gridInput {
    display: grid;
    grid-template-columns: 85px 1fr max-content;
    align-items: center;
    gap: 12px;
}

.styleInput {
    padding: 6px 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    outline: none;
}

.sizeEdirProfile {
    height: 24px;
    width: 24px;
    position: relative;
    margin-left: 12px;
}

.gridOptions {
    display: grid;
    gap: 32px;
}

.titleInputs {
    color: var(--colorPrimaryTextDesktop);
}

.contImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridVerLvl2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gridTextCamera {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.upImage {
    color: var(--colorPrimaryTextDesktop);
    text-align: center;
}

.sizeCamera {
    height: 16px;
    width: 16px;
    position: relative;
}

.editCont {
    display: grid;
    background: linear-gradient(360deg, rgba(214, 214, 213, 1) 0%, rgba(245, 245, 245, 1) 100%);
    color: gray;
    padding: 6px 16px;
    font-size: 12px;
    border-radius: 4px;
}

.titleVer2 {
    font-size: 16px;
}

.gridVerificacion{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 6px;
}

.sizeCheckIcon {
    height: 14px;
    width: 14px;
    position: relative;
}

.failedVerificacion{
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    background: #f5f5f5;
    border-radius: 6px;
    overflow: hidden;
    padding: 16px;
    color: var(--colorPrimaryTextDesktop);
}

.buttonSend{
    background: var(--gradientBlueButton);
    margin-left: auto;
    padding: 6px 24px;
    color: white;
    width: max-content;
    border-radius: 4px;
}