.mainDiv {
    --marginMainDiv: 16px;
    background: white;
    margin: var(--marginMainDiv) auto;
    border-radius: 16px;
    width: 100%;
    max-width: var(--maxWidthBodyContent);
    height: calc(100vh - 97px - (var(--marginMainDiv) * 2));
    box-shadow: var(--boxShadowCard);
    overflow: hidden;
}

.mainDivLeftArea {
    height: calc(100vh - 97px - (var(--marginMainDiv) * 2));
    background: linear-gradient(145deg, #3151e3 0%, #2f49d0 100.2%);
    box-shadow: 2px 0 6px rgba(0,0,0,.3);
}

.mainDivRightArea {
    height: calc(100vh - 97px - (var(--marginMainDiv) * 2));
    overflow: hidden;
}

.mainDivGrid {
    display: grid;
    grid-template-columns: 230px 1fr;
    background: white;
}

