.mainDivGrid {
    margin: auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 32px;
    padding: 32px;
    background: white;
    /*width: 90%;
    margin: 40px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--boxShadowCard);
    height: 80vh;*/
}

.gridSections {
    display: flex;
    flex-direction: column;
    gap: 16px;
}