.mainDiv {
    display: grid;
    height: 100%;
    padding: 24px 32px 53px 32px;
}

.overflowDiv {
    overflow: scroll;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.underDiv{
    display: grid;
    height: 100%;
    overflow: scroll;
}

.contTitle {
    padding-bottom: 24px;
}

.title {
    font-size: 28px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.subtitle {
    color: var(--colorPrimaryText);
}