.mainDiv {
    position: fixed;
    bottom: 48px;
    right: 48px;
    z-index: 900000000000000;
    width: 100px;
    aspect-ratio: 1/1;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    display: grid;
    align-items: center;
    justify-items: center;
    animation: animationCart 1s linear;
}

.sizeCart {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.positionItem {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, rgba(238, 13, 13, 1) 0%, rgb(239, 38, 38) 100%);
    box-shadow: 0 0 4px red;
    color: white;
    display: grid;
    font-weight: 500;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
}

@keyframes animationCart {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}
