.mainDiv {
    width: var(--maxWidthBodyContent);
    margin: 100px auto;
    display: grid;
    gap: 40px;
}

.mainDivNoMarginBottom {
    width: var(--maxWidthBodyContent);
    margin: 100px auto 0 auto;
    display: grid;
    gap: 40px;
}
