.mainDiv {
    display: grid;
    align-content: start;
    padding: 16px;
    border-top: 1px solid var(--separationLineColor);
}

.title {
    font-weight: 500;
    padding-bottom: 10px;
}

.deleteIcon {
    width: 12px;
    height: 12px;
    position: relative;
}

.gridGuests {
    padding: 2px;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow: scroll;
    display: grid;
    gap: 16px;
}

.gridGuestIcon {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 12px;
    align-items: center;
    padding: 5px 16px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}