.mainDiv {
    background: white;
    padding: 24px 0;
    position: relative;
    display: grid;
    gap: 16px;
}

.select {
    outline: none;
    display: grid;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    padding: 4px 16px;
    position: relative;
    background: white;
}

.option {
    color: var(--colorPrimaryTextDesktop);
}

.deleteIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .25);
}

.gridAmountGuest{
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
}

.button{
    color: var(--linkColor);
    font-weight: 500;
}


