.mainDiv {
    width: 100%;
    display: grid;
    align-content: start;
    overflow: scroll;
}

.noProducts {
    font-size: 21px;
    color: var(--colorPrimaryTextDesktop);
    padding: 0 16px;
}

.gridTitle {
    display: grid;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.columnText {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    color: var(--colorPrimaryTextDesktop);
    padding: 4px 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    border-radius: 4px;
}

.gridProducts {
    display: grid;
    gap: 1px;
    background: var(--separationLineColor);
    margin: 0 16px;
}

.amountProduct {
    color: var(--colorSecundaryTextDesktop);
    font-weight: 500;
}

.gridTitleAdd {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid var(--separationLineColor);
}

.gridAddIcon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    width: max-content;
    border-radius: 16px;
    padding: 5px 10px 5px 16px;
}

.sizeAddImage {
    width: 20px;
    height: 20px;
    position: relative;
}

.gridSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: center;
}

.lineUnder {
    border-bottom: 2px solid var(--separationLineColor);
    /*background: rgba(0, 0, 0, .01);*/
    z-index: 100;
    padding: 16px 16px 24px 16px;
}

.totalText {
    border-top: 2px solid var(--separationLineColor);
    width: 100%;
    font-size: 24px;
    text-align: right;
    padding: 24px 16px 12px 0;
    font-weight: 500;
}

.mainDivPopUp {
    width: 100%;
    height: max-content;
    display: grid;
    gap: 20px;
    padding: 2px;
}

.upInput {
    color: var(--colorPrimaryTextDesktop);
    padding-bottom: 6px;
}

.styleInput {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    padding: 12px;
    width: 100%;
}

.titlePopUp {
    font-size: 21px;
    border-bottom: 1px solid var(--separationLineColor);
    padding-bottom: 8px;
}

.buttonPopUp {
    width: max-content;
    margin: auto;
    text-align: center;
    color: white;
    padding: 6px 32px;
    font-weight: 500;
}

.blue {
    background: var(--gradientBlueButton);

}

.gray {
    background: rgba(0, 0, 0, .1);
}

.sizeBottomArrow {
    width: 16px;
    height: 14px;
    position: relative;
    margin-bottom: 1px;
}

.gridRecommended {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 4px;
}

.divRecommended {
    padding-top: 40px;
    padding-bottom: 24px;
}

.filterBy {
    font-weight: 500;
    padding-bottom: 12px;
}

.gridAddEngine {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
}

.engineICon {
    height: 14px;
    width: 14px;
    position: relative;
}