.mainDiv {
    overflow: scroll;
    padding: 16px;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
}

.seeMore{
    color: var(--linkColor);
}

.gridRecommended{
    display: grid;
    margin-top: 16px;
    gap: 16px;
    height: max-content;
}