.mainDiv {
    display: grid;
    align-content: start;
    gap: 4px;
    padding: 16px 16px 0 16px;
    background: white;
}

.stickyDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 100000000;
    padding: 16px 16px 20px 16px;
    border: 2px solid var(--separationLineColor);
    border-radius: 16px 16px 0 0;
}

.gridSubtotalReturn {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.subtotal {
    font-size: 21px;
    font-weight: 500;
}

.return {
    color: var(--linkColor);
    text-align: left;
}

.guestNumber {
    color: var(--colorSecundaryTextDesktop);
}

.buttonBase {
    width: 100%;
    text-align: center;
    background: var(--gradientBlueButton);
    color: white;
    padding: 4px 0;
    font-weight: 500;
}

.button {
    background: var(--gradientBlueButton);
}

.buttonEmpty {
    background: rgba(0, 0, 0, .1);
}