.mainDiv {
    padding: 48px 20% 48px 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 17%;
    position: relative;
}

.fullRadious {
    border-radius: 16px;
}

.noRadious {
    border-radius: 0 0 16px 16px;
}

.contImage {
    width: 100%;
    display: grid;
    justify-items: center;
    position: relative;
}


.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.firstGradient {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background: linear-gradient(145deg, #1111ea 0%, #de1212 100%);
    background: linear-gradient(145deg, #FFDEA8 0%, #FEC84E 100%);
    background: linear-gradient(145deg, #FABC3C 0%, #FACC6B 100%);
    padding: 8px;
    top: 16px;
    right: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.background {
    background: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.logo {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.seeGallery{
    color: var(--linkColor);
    text-decoration: underline;
    padding-top: 32px;
    padding-right: 16px;
}

