.mainDiv {
    padding: 4% 4% 12px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12%;
    position: relative;
}

.fullRadious {
    border-radius: 16px;
}

.noRadious {
    border-radius: 0 0 16px 16px;
}

.contImage {
    width: 100%;
    display: grid;
    justify-items: center;
    position: relative;
    transition: .5s;
}

.contImage:hover {
    transform: scale(1.05);
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, .6);
}

.firstGradient {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background: linear-gradient(145deg, #FABC3C 0%, #FACC6B 100%);
    padding: 8px;
    top: 24px;
    right: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    transform-origin: right top;
}

.background {
    background: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.logo {
    --widthLogo: 70px;
    width: var(--widthLogo);
    height: var(--widthLogo);
    position: absolute;
    top: 24px;
    right: calc((var(--widthLogo) * -1) / 2);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    overflow: hidden;
}

.seeGallery {
    color: var(--linkColor);
    text-decoration: underline;
    padding-top: 32px;
    padding-right: 16px;
}

