.title{
    font-size: 24px;
    font-weight: 600;
    margin: auto;
    width: 100%;
    text-align: center;
}

.rating{
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
}

.sizeStar{
    height: 20px;
    width: 20px;
    position: relative;
}

.seeMore{
    padding-top: 32px;
    font-size: 16px;
    color: var(--linkColor);
    cursor: pointer;
    width: max-content;
}

.gridRating{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    padding-bottom: 70px;
    justify-content: center;
    padding-top: 4px;
    gap: 12px;
}

.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 6px;
    justify-content: center;
    padding-top: 2px;
}