.PrincipalGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}
.gridOwnPublicity {
    display: grid;
    grid-template-columns: max-content 1fr;
    border-radius: 4px;
}

.paddingContainerOwnPublicity {
    padding: 24px;
}

.heightImageOwnPublicity {
    --sizeImageOwnPublicityDesk: 160px;
    height: var(--sizeImageOwnPublicityDesk);
    width: var(--sizeImageOwnPublicityDesk);
    object-position: center;
    object-fit: cover;
    position: relative;
}

.containerInfoProperties {
    display: grid;
    gap: 16px;
    align-content: center;
    padding: 0px 0px 0px 24px;
}

.fontMainText {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
}

.buttonSeeMore{
    background: var(--buttonLinkColor);
    width: max-content;
    color: white;
    padding: 2px 8px;
    border-radius: 1px;
    font-weight: 400;
}

.buttonSeeMoreDarkMode{
    background: var(--buttonlinkColorDarkMode);
    width: max-content;
    color: white;
    padding: 2px 8px;
    border-radius: 1px;
    font-weight: 400;
}

@media (min-width: 1281px){
    .PrincipalGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}