.bannerFeatureProperties {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center;
}

.logoFeatureProperties {
    --sizeLogoFeaturedHome: 44px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 5%;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.logoFeaturePropertiesv2 {
    --sizeLogoFeaturedHome: 52px;
    border: 4px solid white;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
/*    box-shadow: var(--boxShadowCard);*/
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(100% - (var(--sizeLogoFeaturedHome) / 2));
    right: 24px;
    /*left: calc(50% - (var(--sizeLogoFeaturedHome) / 2));*/
}

.mainDivInfo {
    margin: auto;
    padding: 10px 20px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    margin-bottom: 6px;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.topDiv {
    margin: auto;
    position: relative;
}

.borderDiv {
    border-top: 2px solid var(--separationLineColor);
}

.bottomDivSearch {
    padding: 6px 0 0 0;
    display: grid;
    gap: 6px;
    margin: auto;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}


