.sizeImageRoundedCarrousel {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.paddingGradient{
    padding: 3px;
}