.sizeImageRoundedCarrousel {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.mainDiv{
    box-shadow: var(--boxShadowCard);
    transition: .4s;
}

.mainDiv:hover{
    transform: scale(1.03);
}

.paddingGradient{
    padding: 3px;
}