.grid {
    --paddingXEventProduc: 12px;
    --paddingYEventProduct: 14px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 16px;
    padding: 0px var(--paddingXEventProduc);
}

.gridSelected {
    display: grid;
    gap: 32px;
    overflow: scroll;
    padding: 0px var(--paddingXEventProduc) var(--paddingYEventProduct) var(--paddingXEventProduc);
}

.styleProductContainer {
    --colorCard: #10c7d5;
    --borderStyle: 4px solid var(--colorCard);
    border-radius: 0px 0px 30px 30px;
    padding: 0px 16px;
    border-left: var(--borderStyle);
    border-right: var(--borderStyle);
    border-bottom: var(--borderStyle);
}

.borderBottomSection {
    border-bottom: 2px solid var(--separationLineColor);
}

.styleHeaderProduct {
    border-radius: 30px 30px 0px 0px;
    background: rgb(13, 187, 200);
    background: linear-gradient(180deg, rgba(13, 187, 200, 1) 0%, rgba(16, 199, 213, 1) 100%);
}

.gridTotal {
    padding: 20px var(--paddingXEventProduc);
    border-top: 2px solid var(--separationLineColor);
    text-align: right;
}

.containerButton {
    display: grid;
    padding: 0px var(--paddingXEventProduc) var(--paddingYEventProduct) var(--paddingXEventProduc);
}

.paddingTitle {
    padding: var(--paddingYEventProduct) var(--paddingXEventProduc) 0px var(--paddingXEventProduc);
}

.stylerightContainer {
    margin: 40px 0px;
    overflow: scroll;
}

@media (min-width: 1201px) {
    .grid {
        grid-template-columns: 1fr 350px;
        gap: 24px;
        padding: 0px 0px;
    }
}