.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
    height: 100%;
    width: 100%;
}

.gridTitleButton {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 16px;
}

.title {
    font-size: 24px;
}

.titleGroup {
    font-size: 21px;
}

.buttonCreateProduct {
    display: grid;
    padding: 4px 16px;
    border-radius: 4px;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    width: max-content;
    color: var(--colorPrimaryTextDesktop);
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.sizeAddIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.gridProducts {
    display: grid;
    gap: 32px;
}

.mainDivCont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.contIcon {
    padding: 2px 6px;
    background: linear-gradient(360deg, rgba(214, 214, 213, 1) 0%, rgba(245, 245, 245, 1) 100%);
    cursor: pointer;
    color: var(--colorPrimaryText);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
    font-size: 12px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    overflow: hidden;
}

.sizeIcon {
    width: 14px;
    height: 14px;
    position: relative;
}

.gridTitle {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
}

.mainDivPopUp {
    width: calc(95vw - 48px);
    margin: 24px;
}

.contScroll{
    overflow: scroll;
    height: 100%;
    padding: 4px;
}

.titlePopUp {
    font-size: 21px;
    font-weight: 500;
}

.gridProductSelection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

.checkIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.contProduct {
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: 12px;
    height: auto;
}

.button {
    width: max-content;
    margin: auto;
    background: var(--gradientBlueButton);
    color: white;
    padding: 6px 48px;
}


.gridPopUp{
    display: grid;
    gap: 16px;
    height: max-content;
    overflow: hidden;
    padding: 0 2px;
}