.mainDiv {
    display: grid;
    overflow: hidden;
    gap: 32px;
    height: 100%;
    grid-template-rows: max-content 1fr;
    padding-bottom: 16px;
}

.gridTabs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    background: rgba(13,111,202,1);
    align-items: end;
}

.contGroups {
    height: 100%;
    overflow: scroll;
}