.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}


.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.mainDivImage {
    display: grid;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 0 6px;
}


.gridInfoProductHorizontal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    text-align: left;
    justify-content: center;
}

.sizeIconTrash{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.seeQualification{
    color: var(--linkColor);
    padding-top: 8px;
    text-align: center;
}