.mainDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    z-index: 90000000000000000;
    --colorICon: #818181;
}

.renderDiv {
    width: calc(100vw - 32px);
    height: 50vh;
    position: relative;
}

.blackScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.gridNavItems {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    width: 100%;
    padding-top: 24px;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    scroll-snap-align: start;
    display: grid;
    justify-items: center;
    align-items: center;
    background: black;
}

.video {
    aspect-ratio: 1/1;
    width: 100%;
}

.sizeImageMin {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.focus {
    border: 2px solid orange;
}

.gridImageSection {
    display: grid;
    grid-template-columns: calc(100vw - 32px);
    grid-auto-columns: calc(100vw - 32px);
    grid-auto-flow: column;
    gap: 20px;
    scroll-snap-type: x mandatory;
    overflow: scroll;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.borderCarrousel {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 24px 0;
}

.snapScroll {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.contPlayIcon{
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-items:  center;
    align-items: center;
    z-index: 100000;
    background: rgba(0,0,0,.6);
}

.iframe{
    width: 100%;
    aspect-ratio: 1/1;
    opacity: 0;
    position: relative;
    z-index: 200;
}