.gridCarrouselAuto {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.backgroundCarrousel{
    background: gray;
    overflow: hidden;
}

.testImage {
    width: 110px;
    aspect-ratio: 1/1;
    object-position: center;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.paddingGradient {
    padding: 0;
}

