.borderNormal {
    border: 1px solid #2d7dff;
}

.mainCont {
    border-bottom: 2px solid var(--separationLineColor);
    border-top: 2px solid var(--separationLineColor);
    padding-bottom: 16px;
    overflow: scroll;
}

.borderDarkMode {
    border: 1px solid #15dae6;
}

.styleNavCircle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--linkColor);
}

.styleNavCircleDarkMode {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--linkColorDarkMode);
}

.styleNavCircleNoSelected {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #cbcbcb;
    /*border: 1px solid var(--linkColor);*/
}

.gridNavItems {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 8px;
    justify-content: center;
}

.gridImageSection {
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-columns: 100vw;
    grid-auto-flow: column;
    gap: 20px;
    scroll-snap-type: x mandatory;
    overflow: scroll;
}

.snapScroll {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
