.gridCarrousel{
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    transition: 1s;
}