.mainDiv {
    padding: 5px 16px;
    display: grid;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--gradientBlueButton);
}

.mainDiv:hover{
    background: #0061d0;
}

.text {
    color: white;
    font-weight: 500;
}

.sizeIcon {
    width: 16px;
    aspect-ratio: 1/1;
    position: relative;
}