.mainDiv {
    display: grid;
    align-items: center;
    overflow: hidden;
}

.text {
    color: white;
    font-weight: 500;
}

.sizeIcon {
    width: 24px;
    aspect-ratio: 1/1;
    position: relative;
    margin-top: 2px;
}