.mainDiv {
    display: grid;
    gap: 12px;
}

.nameInput {
    color: var(--colorPrimaryTextDesktop);
}

.inputCont {
    padding: 6px 16px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    resize: none;
    position: relative;
    border-radius: 4px;
}

.input {
    width: 100%;
}

.magGlass {
    position: absolute;
    height: 16px;
    aspect-ratio: 1/1;
    left: 16px;
    top: calc(50% - 8px);
}

.indent {
    padding-left: 42px;
}

.isObligatory {
    color: red;
}

.gridPriceSpix{
    display: grid;
    gap: 16px;
    align-items: center;
    position: relative;
}

.chargeSpix{
    color: var(--colorSecundaryTextDesktop);
    position: absolute;
    right: 12px;
    padding-left: 12px;
    border-left: 1px solid rgba(0,0,0,.1);
}