.mainCont {
    position: relative;
    padding: 16px 46px 16px 16px;
    background: #efefef;
    transition: .4s;
}

.mainContClose {
    position: relative;
    padding: 16px 46px 32px 16px;
    transition: .4s;
}

.emoticonContainerClose {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    justify-content: space-between;
    overflow: scroll;
    height: 0;
    gap: 12px;
    transition: .4s;
    padding: 2px;
}

.emoticonContainerOpen {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    justify-content: space-between;
    gap: 12px;
    height: 58px;
    overflow: scroll;
    transition: .4s;
    padding-right: 2px;
}

.positionAddIcon {
    position: absolute;
    top: 18px;
    right: 16px;
}

.positionAddIconClose {
    position: absolute;
    top: 16px;
    right:16px;
}