.sizeImageBanner {
    height: 350px;
    width: 100vw;
    max-width: var(--maxWidthBanner);
    margin: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    display: grid;
}

.sizeBannerRestaurant{
    height: 500px;
    width: 100vw;
    max-width: var(--maxWidthBanner);
    margin: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    display: grid;
}
