
.mainDiv {
    display: grid;
    position: relative;
    background: linear-gradient(145deg, #ff5900 0%, #ff4400 100%);
    background: #d7eaf8;
    box-shadow: 2px 2px 4px #accde7;
    padding: 12px 20px;
    border-radius: 4px;
    color: var(--colorPrimaryTextDesktop);
    font-weight: 500;
    font-size: 13px;
}

.gridIconTitle{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 4px;
}

.title{
    font-size: 16px;
    color: #265a80;
}

.sizeImage{
    width: 16px;
    aspect-ratio: 1/1;
    position: relative;
    margin-bottom: 2px;
}