.mainDiv {
    height: 100%;
    width: 100%;
    background: white;
    padding: 48px;
}

.gridButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 32px;
}

.buttonLevelUser {
    padding: 4px 8px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    background: var(--gradientBlueButton);
    color: white;
}