.bgMenu {
    background: rgb(8,95,178);
    background: linear-gradient(180deg, rgba(8,95,178,1) 0%, rgba(13,111,202,1) 100%);
}
.bgMenuDarkMode{
    background: rgb(34,37,40);
    background: linear-gradient(90deg, rgba(34,37,40,1) 0%, rgba(35,47,62,1) 100%);
}
.gridTagsMenu {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 12px;
    overflow: scroll;
}
.styleTagsMenu{
    font-weight: 500;
    color: white;
}

.mainContMenu{
    padding: 8px 0 8px 32px;
    width: 100%;
    margin: auto;
}

.mainContMenuLimit{
    padding: 8px 0;
    margin: auto;
    width: 100%;
}
