.titleMargin {
    margin-bottom:2px;
}

.subTitleMargin {
    margin-bottom: 6px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4px;
}

.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
    align-items: center;
}

.sizeStar {
    height: 17px;
    width: 17px;
    position: relative;
}

.paddingRating {
    display: grid;
    align-items: end;
}