.titleMargin {
    margin-bottom: 3px;
}

.subTitleMargin {
    margin-bottom: 7px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
}