.containerProductProp {
    position: relative;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: cover;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.boxShadowPro {
    box-shadow: var(--boxShadowCard);
    background: white;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.gridPriceWithDiscount {
    display: grid;
    align-content: center;
}

.gridInfoProduct {
    display: grid;
    gap: 4px;
    padding: 8px;
}

.gridInfoProductHorizontal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 12px 8px 8px;
}

.aspectRatio {
    position: relative;
    aspect-ratio: 1/1;
    display: grid;
    margin: auto;
    background: white;
}

.image {
    object-fit: cover;
}

.gridHorizontalProduct {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
    position: relative;
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    padding: 4px;
    background: white;
}

.discountBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3px;
    background: rgba(0, 128, 0, .1);
    padding: 3px 5px;
    height: max-content;
}

.zindexListon {
    z-index: 6000000;
}


.gridPriceICon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}

.discountStyle {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #06b906;
}