.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.mainGrid:hover{
    transform: scale(1.05);
}

.sizeImage{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.mainDivImage{
    display: grid;
    align-items: center;
    position: relative;
    padding: 12px;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridPriceWithDiscount {
    display: grid;
    align-content: center;
}

.gridInfoProduct {
    display: grid;
    gap: 4px;
    padding: 8px;
}

.gridInfoProductHorizontal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5% 10% 5% 5%;
}

.discountBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3px;
    background: rgba(0, 128, 0, .1);
    padding: 3px 5px;
    height: max-content;
}

.gridPriceICon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}

.discountStyle {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #06b906;
}