.boxShadowPro {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 12px;
    position: relative;
    background: white;
    padding: 0 12px;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridPriceWithDiscount {
    display: grid;
    align-content: center;
}

.gridInfoProduct {
    display: grid;
    gap: 2px;
    padding: 8px 8px 4px 8px;
}

.contImage {
    padding: 12px 48px 12px 48px;
}

.gridInfoProductHorizontal {
    display: flex;
    flex-direction: column;
}

.aspectRatio {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
}

.zindexListon {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    aspect-ratio: 1/1;
    z-index: 1;
}

.cont {

}

.image {
    object-fit: cover;
}

.gridHorizontalProduct {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
    position: relative;
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    padding: 4px;
}

.discountBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3px;
    background: rgba(0, 128, 0, .1);
    padding: 3px 5px;
    height: max-content;
}

.gridPriceICon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 8px;
}

.price{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.discountStyle {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #4b704b;
}

.paddingStar {
    padding: 2px 0 4px 0;
}