.mainDiv {
    width: 45vw;
    height: auto;
    background: white;
    padding: 48px;
    --animattionTransition: .4s;
}

.gridImageSelect {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
}

.qualify {
    color: var(--colorSecundaryTextDesktop);
}

.sizeMin {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.gridSelectionZone {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 6px;
    padding-top: 16px;
}

.imageSelected {
    border: 1px solid orange;
}

.imageNoSelected {
    opacity: .2;
    border: 1px solid black;
}

.noSide {
    width: 100%;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.contImages {
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
}

.contImage {
    padding: 2px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 50%);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 130px;
    left: calc(50% - 65px);
    top: -20px;
    z-index: 500;
}

.mainContInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    background: white;
}

.mainDivImage {
    display: grid;
    align-items: center;
    position: relative;
    padding: 12px 12px 0 12px;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridPriceWithDiscount {
    display: grid;
    align-content: center;
}

.gridInfoProduct {
    display: grid;
    gap: 4px;
    padding: 8px;
}

.separationLine {
    width: 100%;
    height: 2px;
    background: var(--separationLineColor);
}

.gridInfoProductHorizontal {
    display: grid;
    gap: 16px;
    padding: 140px 24px 32px 24px;
    align-items: start;
}

.discountBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3px;
    background: rgba(0, 128, 0, .1);
    padding: 3px 5px;
    height: max-content;
    align-items: center;
}

.gridPriceICon {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
    padding: 12px 0;
}

.discountStyle {
    font-weight: 500;
    color: #06b906;
    font-size: 12px;
}

.sizeDollarUp {
    height: 12px;
    width: 12px;
    position: relative;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.name {
    font-size: 24px;
}

.price {
    color: var(--colorTitlesDesktop);
    font-size: 32px;
    font-weight: 500;
}

.positionLastTicket {
    position: absolute;
    width: 70%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
}

.button {
    padding: 8px 16px;
    text-align: center;
    width: 100%;
    /*background: var(--gradientBlueButton);*/
    background: #3195ff;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    height: max-content;
}

.button:hover {
    background: #3179ff;
}

.sizeTimeIcon {
    width: 60px;
    height: 60px;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    z-index: 10000;
    display: grid;
    align-content: center;
    justify-items: center;
    border-radius: 50%;
    grid-template-rows: repeat(2, max-content);
}

.colorTime {
    color: var(--linkColor);
    font-weight: 700;
    line-height: 12px;
    font-size: 12px;
    display: block;
}

.positionLastTicket {
    width: 30%;
    top: 0;
    left: 0;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 90000;
}

.duration {
    margin-top: 2px;
}

.gridChronoText {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
}

.chronoIcon {
    width: 16px;
    height: 16px;
    position: relative;
}

.gridSelectorAmount {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    width: max-content;
    border-radius: 4px;
    overflow: hidden;
}

.gridAmount{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.styleMoreLess {
    padding: 3px 10px;
    background: rgb(214, 214, 213);
    background: linear-gradient(360deg, rgba(214, 214, 213, 1) 0%, rgba(245, 245, 245, 1) 100%);
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    display: grid;
    align-content: center;
    align-items: center;
}

.amount {
    color: var(--linkColor);
    font-weight: 500;
    padding: 0 12px;
    margin-top: 3px;
}
