.mainDiv {
    display: grid;
    gap: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    border-radius: 6px;
    overflow: hidden;
    padding: 12px;
    transition: .4s;
}

.mainDiv:hover {
    transform: scale(1.03);
}

.containerButton {
    display: grid;
    justify-content: right;
}

.gridQuestion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}