.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
}

.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
    align-items: start;
}

.fontTextReviews {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #007185;
    padding-left: 4px;
}

.sizeStar{
    height: 12px;
    aspect-ratio: 1/1;
    position: relative;
}