.mainPadding {
    padding: 6px;
    scroll-snap-align: start;
}

.mainDiv {
    display: grid;
    gap: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    border-radius: 6px;
    padding: 12px 32px 24px 32px;
    transition: .4s;
    position: relative;
}

.contInfo {
    display: grid;
    justify-items: center;
}

.title {
    text-align: center;
    font-size: 18px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
}

.contImage {
    --sizeReviewImage: 72px;
    height: var(--sizeReviewImage);
    width: var(--sizeReviewImage);
    top: calc(var(--sizeReviewImage) / 2 * -1);
    left: calc(50% - (var(--sizeReviewImage) / 2));
    position: absolute;
    /*background: var(--gradientProfileBlue);*/
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    padding: 2px;
    background: white;

}

.gradient {
    padding: 4px;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sizeReviewImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.maxWidthtextReview {
    max-width: 500px;
}

.sizeReviewStar {
    --sizeReviewStar: 15px;
    height: var(--sizeReviewStar);
    width: 85px;
    position: relative;
}

.byWho {
    color: var(--colorSecundaryTextDesktop);
    text-align: left;
    padding-bottom: 4px;
    width: 100%;
}

.gridOpt {
    align-items: center;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
}

.principalDiv {
    display: grid;
    justify-content: center;
    gap: 12px;
    padding-top: 40px;
    justify-items: center;
}

.contOptionBar{
    display: grid;
    justify-content: left;
    width: 100%;
}