.tabBase {
    width: 170px;
    height: 46px;
    color: var(--colorPrimaryTextDesktop);
    border-radius: 0 0 8px 8px;
    font-weight: 500;
    display: grid;
    place-items: center;
    position: relative;
    --colorTabLine: var(--separationLineColor);
    --backgroundTabColor: linear-gradient(145deg, #048a04 0%, #09a909 100%);
    --backgroundBorderTad: #09a909;
}

.selected {
    height: 50px;
    background: white;
    background: var(--backgroundTabColor);
    font-size: 18px;
    color: white;
}

.noSelected {
    background: rgb(241, 241, 241);
}

.selectedItem {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
    z-index: 100;
}

.borderLeft {
    width: 32px;
    height: 32px;
    background: rgb(241, 241, 241);
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 100;
    border-radius: 50%;
}

.borderBlue {
    background: rgba(13, 111, 202, 1);
    background: white;
}

.borderGray {
    background: rgb(241, 241, 241);
}

.borderRight {
    width: 32px;
    height: 32px;
    background: rgba(13, 111, 202, 1);
    position: absolute;
    bottom: 0;
    left: -32px;
    z-index: 100;
    border-radius: 50%;
}

.borderOne {
    width: 16px;
    height: 16px;
    background: rgb(241, 241, 241);
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 50;
}

.borderTwo {
    width: 16px;
    height: 16px;
    background: white;
    background: var(--backgroundBorderTad);
    position: absolute;
    z-index: 50;
    right: -16px;
    top: 0;
}