.mainDiv {
    display: grid;
    width: max-content;
    font-size: 14px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, .4);*/
    /*border: 1px solid rgba(0,0,0,.4);*/
    gap: 12px;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    padding: 2px 12px 2px 0;
}


.sizeLikes {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.active {
    color: white;
    /*background: linear-gradient(145deg, #DB3445 0%, #F71735 100%);*/
    animation: moveBell .3s 4 linear .1s;
}

.noActive {
    color: var(--colorPrimaryTextDesktop);
    animation: scaleDislike .1s linear;
}

.sizeIcon {
    width: 24px;
    height: 24px;
    position: relative;
}

.like {
    font-weight: 600;
}

@keyframes moveBell {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0);
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(-20deg);
    }

    90% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scaleLike {
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(1.4);
    }

    80%{
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleDislike {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}