.mainDiv {
    padding: 0 12px;
}

.gridResult {
    display: grid;
    gap: 28px;
    padding: 4px;
}

.gridButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 12px 4px;
}