.mainDiv {
    position: relative;
    background: linear-gradient(145deg, #ceffc3 0%, #ffc4b3 50%, #b3f1ac 100%);
    background: linear-gradient(145deg, #c3fdff 0%, #ffc4b3 50%, #ace9f1 100%);
    background: linear-gradient(145deg, #c3c8ff 0%, #ffc4b3 50%, #acbcf1 100%);
    background: linear-gradient(145deg, #e7c3ff 0%, #ffc4b3 50%, #e0acf1 100%);
    background: linear-gradient(145deg, #fff3c3 0%, #ffc4b3 50%, #f1e6ac 100%);
    background: linear-gradient(145deg, #ffc3c3 0%, #ffc4b3 50%, #f1acac 100%);
    background: linear-gradient(145deg, #c3fff1 0%, #ffc4b3 50%, #acf1d7 100%);
    background: linear-gradient(145deg, #ffc3e1 0%, #ffc4b3 50%, #f1acc1 100%);
    background: #ffebec;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    padding: 16px;
    /*box-shadow: 0 4px 8px #e5c2c4;*/
    /*border-radius: 0 0 16px 16px;*/
}

.blackScreen {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
}

.blackScreen2 {
    /*    background: linear-gradient(180deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .1) 50%);
        background: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .1) 50%);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-content: center;
    padding: 16px 0;
}

.contBanner {
    width: 100%;
    display: grid;
    align-items: center;
}

.title {
    font-weight: 600;
    color: #360101;
    font-size: 21px;
}

.sizeNewBanner {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 6px;
    padding-top: 6px;
}

.tag {
    padding: 1px 12px;
    background: linear-gradient(145deg, rgba(128, 0, 128, .5) 0%, rgba(96, 0, 96, 0.5) 100%);
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.sizeLogo {
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
}

.gridSocialContact {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 32px;
    margin: auto;
    padding-bottom: 20px;
    animation: animationDescription 1s linear;
}

.gridContact {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
    padding-top: 6px;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}

.contLike{
    position: absolute;
    top: 16px;
    right: 16px;

}

.contDirection {
    color: purple;
    width: max-content;
    border: 1px solid purple;
    font-size: 12px;
    padding: 1px 12px;
    text-align: left;
    display: grid;
    overflow: hidden;
    text-overflow: ellipsis;
}


@keyframes animationTitle {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes animationDescription {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes animationLogo {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }

}

@keyframes animationBanner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}