.mainDiv {
    position: relative;
    background: #ffebec;
    display: grid;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 2px 8px #ecbcbf;
}

.sizeNewBanner {
    width: 60px;
    top: 16px;
    right: 8px;
    position: absolute;
    aspect-ratio: 1/1;
}