.mainDiv {
    position: relative;
    display: grid;
    overflow: hidden;
    padding: 24px 16px;
}

.sizeNewBanner {
    width: 50px;
    top: 8px;
    right: 8px;
    position: absolute;
    aspect-ratio: 1/1;
}