.mainDiv {
    display: grid;
    padding: 0 16px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 100%;
}


.contSlider {
    width: calc(100vw - 48px);
}

.contImage {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    transition: .4s;
    scroll-snap-align: start;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    transition: .4s;
}

.sizeImageEmpty {
    width: 100%;
    aspect-ratio: 1/1;
    scroll-snap-align: start;
}

.focus {
    z-index: 100;
    position: relative;
    transform: scale(1);
    transition: .4s;
}

.noFocus {
    z-index: 90;
    position: relative;
    transform: scale(.8);
    transition: .4s;
}

.seeGalery {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding-top: 16px;
}


