.mainDiv {
    padding: 16px;
    display: grid;
    background: #ffebec;
    background: linear-gradient(145deg, #ffe9ea 0%, #ffd9ce 50%, #ffe3e5 100%);
    background: linear-gradient(145deg, #f2e0ff 0%, #ffd9ce 50%, #f4d1ff 100%);
    background: #f2e0ff;
    margin: 0 16px;
    border-radius: 24px;
}

.noFocus {
    transform: scale(.7);
    transition: .4s;
}

.focus {
    transform: scale(.98);
    transition: .4s;
}

.contDirec{
    font-size: 12px;
}

.contDirection {
    color: purple;
    text-decoration: underline;
}


.title {
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    width: 100%;
}

.contInfo{
    display: grid;
    gap: 6px;
}

.contSlider {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    gap: 16px;
    padding-top: 12px;
}

.gridCarrousel {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 20px;
    align-items: center;
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.gridImages {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.5fr 1fr 0.7fr;
    align-items: center;
    gap: 12px;
}

.focus {
    z-index: 100;
    position: relative;
    transition: .4s;
}

.focus:hover {
    transform: scale(1.15);
}

.noFocus {
    z-index: 90;
    position: relative;
    transition: .4s;
}

.noFocus:hover {
    transform: scale(1.1);
}

.noFocus2 {
    z-index: 80;
    transition: .4s;
}

.noFocus2:hover {
    transform: scale(1.05);
}

.gridSocialContact {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 32px;
    margin: auto;
    padding-bottom: 20px;
    animation: animationDescription 1s linear;
}

.gridContact {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

.sizeIcon {
    height: 14px;
    width: 14px;
    position: relative;
}


.up {
    display: grid;
    gap: 12px;
}

.description {
    color: #0f1316;
    width: 100%;
    font-size: 12px;
}

.seeGalery{
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
}
