.mainDiv {
    width: 100%;
    padding: 0 16px;
    display: grid;
    gap: 16px;
}

.gridPrincipalInfo {
    display: grid;
    gap: 16px;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop)
}

.subtitle{
    color: var(--colorPrimaryTextDesktop);
}

.gridNameInput {
    display: grid;
    gap: 6px;
}

.input {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    padding: 6px 12px;
    outline: none;
    height: max-content;
    width: 100%;
    background: white;
}

.textArea {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    padding: 6px 12px;
    resize: none;
    height: 150px;
}

.title {
    color: var(--colorTitlesDesktop);
    font-size: 28px;
}

.subTitle {
    color: var(--colorPrimaryTextDesktop);
}

.colorObligatory {
    color: red;
    font-weight: 500;
}


.button {
    padding: 6px 32px;
    color: white;
    width: max-content;
    font-weight: 500;
    margin: auto;
}


.buttonBlue {
    background: var(--gradientBlueButton);
}

.buttonGray {
    background: var(--GrayTab);
}

.gridInputSelection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.gridRedes{
    display: grid;
    gap: 6px;
}

.gridSocial{
    display: grid;
    gap: 12px;
    color: var(--colorPrimaryTextDesktop);
}

.buttonAdd {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    padding: 6px 12px;
}

.gridContactInput{
    display: grid;
    gap: 16px;
}

.gridImageSocial{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 6px;
}

.deleteRed{
    color: var(--linkColor);
    text-decoration: underline;
}
