.mainDiv {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.info {
    display: grid;
    gap: 8px;
}

.name {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.deleteIcon {
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.formIcon {
    position: absolute;
    right: 16px;
    height: 40px;
    aspect-ratio: 1/1;
    bottom: -20px;
    background: white;
}