.mainDiv {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    padding: 32px 24px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.info {
    display: grid;
    gap: 8px;
}

.name {
    font-size: 15px;
    font-weight: 500;
}

.deleteIcon {
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 16px;
    right: 16px;
}

.formIcon {
    position: absolute;
    right: 16px;
    height: 40px;
    aspect-ratio: 1/1;
    bottom: -20px;
    background: white;
}