.mainDiv {
    display: grid;
    gap: 32px;
    padding: var(--paddingUserAccount);
    overflow: hidden;
    height: 100%;
    position: relative;
}

.gridTabs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: start;
    position: absolute;
}

.contGroups {
    height: 100%;
    overflow: scroll;
    display: grid;
    gap: 32px;
}
