.mainDiv {
    display: grid;
    gap: 32px;
    padding: 8px;
    width: 30%;
}

.title {
    color: var(--colorTitlesDesktop);
    font-size: 21px;
}

.contForms {
    display: grid;
    gap: 24px;
}

.gridTitleAdd {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 16px;
}

.gridAddForm {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    padding: 8px 16px;
}

.addIcon {
    position: relative;
    aspect-ratio: 1/1;
    width: 16px;
}

