.bannerFeatureProperties {
    width: 100%;
    aspect-ratio: 3.5/1;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.paddingMainCont {
    padding: 20px 0 8px 0;
    width: max-content;
    margin: auto;
}

.logoFeatureProperties {
    --sizeLogoFeatureMobile: 42px;
    height: var(--sizeLogoFeatureMobile);
    width: var(--sizeLogoFeatureMobile);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: absolute;
    top: calc(100% - (var(--sizeLogoFeatureMobile) / 2));
    left: calc(50% - (var(--sizeLogoFeatureMobile) / 2));
    overflow: hidden;
}

.sizeFeaturedDiv {
    width: 290px;
}
