.gridLog {
    display: grid;
    padding: 32px 0px;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    max-width: 300px;
    margin:auto;
}

.borderLoggin{
  border-bottom: 2px solid var(--separationLineColor);
  border-top: 2px solid var(--separationLineColor);
}
