.mainContainer {
    --spaceY: 16px;
    --spaceX: 0px;
    --spaceXGlobal: 16px;
    --spaceYMini: 12px;
    padding: 23px var(--spaceXGlobal);
    position: relative;
    height: 100%;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.grid{
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
}

.gridFull {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, max-content) 1fr;
}

.paddingTitle {
    padding: 0px var(--spaceX) var(--spaceY) var(--spaceX);
}

.gridItems {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.totalConainer {
    padding: 24px var(--spaceX);
    border-top: 2px solid var(--separationLineColor);
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap:12px;
    justify-content: left;
}

.gridCupons {
    display: grid;
    gap: 24px;
}

.paddingSection {
    padding: 0 var(--spaceX);
}

.styleButton{
    background: var(--gradientBlueButton);
    color: white;
    padding: 4px 0;
    border-radius: 3px;
}

.styleButtonTimeOut{
    background: #D4D6D7FF ;
    color: white;
    padding: 4px 0;
    border-radius: 3px;
}
.buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.sizeIconTimer{
    width: 12px;
    height: 16px;
    position: relative;
}

.timerContainer {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 6px;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-bottom: var(--spaceY);
    color: #da1818;
    font-weight: 400;
    width: 100%;
}


