.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 32px 8px 46px 8px;
    border-bottom: 2px solid var(--separationLineColor);
}
.gridLast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 32px 8px 46px 8px;
}
