.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 32px 8px 8px 6px;

}

.marginBottom {
    padding-bottom: 32px;
    border-bottom: 2px solid var(--separationLineColor);
}

@media(min-width: 980px){
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 32px 8px 0px 8px;

    }
}