.styleTagsCategories {
    justify-content: space-between;
    padding: 0px 8px;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(250, 32, 140, 1) 0%, rgba(224, 40, 132, 1) 100%);
    background: rgb(250, 32, 140);
    color: white;
}

.paddingTitle {
    padding: 12px 16px 12px 12px;
}

.borderBottom {
    border-bottom: 1px thin var(--separationLineColor);
}

.borderBottomDarkMode {
    border-bottom: 1px solid var(--separationLineColorDarkMode);
}

.gridTagAtri {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    max-width: 160px;
}

.gridAtributes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0px 12px 12px 12px;
}

.displayIn{
    height: 48px;
    overflow: hidden;
}
.displayOut{
    height: 100%;
}
