.mainDiv{
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 45% 55%;
}


.sizeBanner{
    width: 100%;
    aspect-ratio: 3/2;
    position: relative;
}

.gridFeaturePrincipal{
    display: grid;
}

.mainDivInfo {
    padding: 10px 20px;
    position: relative;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    margin-bottom: 6px;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.topDiv {
    position: relative;
}

.borderDiv {
    border-top: 2px solid var(--separationLineColor);
}

.bottomDivSearch {
    padding: 6px 0 0 0;
    display: grid;
    gap: 6px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}

.positionMedalla{
    --sizeLogoFeaturedHome: 32px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 7px;
}

.logoFeatureProperties {
    --sizeLogoFeaturedHome: 44px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 0;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.mainDivProducts{
    border-top: 2px solid var(--separationLineColor);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin-top: 8px;
    gap: 52px;
    padding: 10px 5px 0 5px;
}

.sizeImageProduct{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}