.mainDiv {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    position: relative;
    background: white;
}

.sizeBanner {
    width: 100%;
    aspect-ratio: 5.3/1;
    position: relative;
}

.mainDivInfo {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 14px 24px;
    position: relative;
}

.logoFeatureProperties {
    --sizeLogoFeaturedHome: 44px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.borderLogo {
    position: absolute;
    background: white;
    padding: 2px;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    overflow: hidden;
}

.boxShadowPro {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.boxShadowPro:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowCardHover);
}

.topDiv {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 12px;
    position: relative;
}

.bottomDivSearch {
    padding-top: 9px;
    display: grid;
    gap: 8px;
    position: relative;
}

.gridInfoProduct {
    padding: 4px 16px 10px 16px;
}

.mainDivProducts {
    position: absolute;
    right: 24px;
    bottom: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.sizeImageSelection{
    width: 80px;
    height: 80px;
    position: relative;
}

.gridImageSelection{
    border-top: 2px solid var(--separationLineColor);
    padding: 16px 0;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    gap: 16px;
}

.boxShadowPro {
    box-shadow: 0 0 5px #cec8c8;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.boxShadowProSelected {
    box-shadow: 0 0 5px #e7620d;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}