.mainDiv{
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    position: relative;
}


.sizeBanner{
    width: 100%;
    aspect-ratio: 5.3/1;
    position: relative;
}

.gridFeaturePrincipal{
    display: grid;
}

.mainDivInfo {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 10px 20px 16px 20px;
    position: relative;
}

.borderLogo {
    position: absolute;
    background: white;
    padding: 2px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.boxShadowPro{
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.boxShadowPro:hover{
    transform: scale(1.02);
    box-shadow: var(--boxShadowCardHover);
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    margin-bottom: 6px;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.topDiv {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    position: relative;
}

.borderDiv {
    border-top: 2px solid var(--separationLineColor);
}

.bottomDivSearch {
    display: grid;
    gap: 6px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.gridInfoProduct{
    padding: 4px 16px 10px 16px;
}


.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}


.logoFeatureProperties {
    --sizeLogoFeaturedHome: 52px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.mainDivProducts{
    position: absolute;
    right: 24px;
    top: -28px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.sizeImageProduct{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}