.gridPrincipal {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.gridPrincipalClose {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.styleTitleResult {
    padding: 24px 0;
}

.styleBanner {
    height: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gridSearchOpen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.gridSearchClose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.mainContainerProperties {
    height: 100%;
    border-left: 1px solid var(--separationLineColor);
    border-right: 1px solid var(--separationLineColor);
}

.mainContainerPropertiesDarkMode {
    width: 100%;
}

.paddingTitle {
    padding: 24px 0;
}

.gridResult {
    display: grid;
    gap: 32px;
}

.paddingContainer {
    padding: 0 16px;
}

.paddingLeftResult {
    padding-left: 24px;
}

.displayInAtr {
    height: 48px;
    overflow: hidden;
}

.displayOutAtr {
    height: 100%;
}

.gridReviewDesktop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.gridNews3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.gridNews2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.gridResaleEvents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px
}

.gridResaleEventMobile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.PrincipalGridNews{
    display: grid;
    gap: 50px;
}

.sizeBanner{
    width: 100%;
    aspect-ratio: 5/1;
    position: relative;
}
.gridHeaderResult{
    display: flex;
    flex-direction: column;
    gap: 20px ;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ratingStarProp{
    height: 20px;
    width: 106px;
    position: relative;
}

@media (min-width: 1281px) {
    .styleBanner {
        height: 250px;
    }

    .gridSearchOpen {
        grid-template-columns: repeat(4, 1fr);
    }

    .gridSearchClose {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 32px;
    }
}

