.paddingTitle {
    padding: 24px 16px 24px 16px;
}

.paddingSubtitle{
    padding: 12px 16px 0 16px;
}

.gridTitleIn{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.paddingCleanFilters {
    padding: 16px 18px 16px 8px;
}

.styleTags {
    justify-content: space-between;
    padding: 3px 8px;
    border-radius: 3px;
    background: var(--gradientSpix);
    color: white;
}

.styleTagsDarkMode {
    justify-content: space-between;
    padding: 3px 8px;
    border-radius: 3px;
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    color: white;
}

.styleContainerSelected {
    display: grid;
    gap: 8px;
    padding: 16px 8px;
}

.styleContainerSelectedMobile {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 8px;
    overflow: scroll;
    width: calc(100vw - 32px);
}

.styleContainerAtr {
    display: grid;
    gap: 8px;
    padding: 0 7px 16px 7px;
}

.borderBottom {
    border-bottom: 1px solid var(--separationLineColor);
}

.styleArrowClose {
    height: 21px;
    width: 21px;
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: relative;
}

.gridSelectedTags {
    display: grid;
    gap: 8px;
    padding: 16px;
}

.paddingTitleAtr {
    padding: 12px;
}

.gridAtributes {
    display: grid;
    gap: 12px;
    padding: 0 16px 16px 16px;
}

.displayIn {
}

.displayOut {
    display: none;
}

.displayInAtr {
    height: 46px;
    overflow: hidden;
}

.displayOutAtr {
    height: 100%;
}

.displayInAdb {
    height: 48px;
    overflow: hidden;
}

.displayOutAdb {
    height: 100%;
}


.carrouselCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 12px 16px 18px 16px;
    overflow-x: scroll;
}

.buttonsCont {
    display: grid;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid var(--separationLineColor);
    border-bottom: 1px solid var(--separationLineColor);
}

.gridButton {
    display: grid;
    grid-template-columns: max-content max-content;
    padding: 8px 12px;
    gap: 8px;
    justify-content: center;
    /*box-shadow: 3px 4px 6px #d5d1d1;*/
    background: #fafafa;
    border-radius: 5px;
    transition: .4s;
    overflow: hidden;
}

.gridButtonSelected {
    display: grid;
    gap: 8px;
    grid-template-columns: max-content max-content;
    justify-content: center;
    padding: 8px 12px;
    /*background: linear-gradient(145deg, rgba(84, 226, 243, .7) 0%, rgba(102, 238, 183, .7) 100%);
    box-shadow: 3px 4px 6px rgba(84, 226, 243, 1);*/
    background: #efeded;
    /*box-shadow: 3px 4px 6px #d5d1d1;*/
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
    transform: scale(1.05);
    animation: scaleClick .3s linear;
}

.imageSize {
    height: 30px;
    width: 36px;
    position: relative;
}
.imageSizeButton{
    height: 20px;
    width: 20px;
    position: relative;

}

.gridFilterImage {
    border-radius: 5px;
    display: grid;
    box-shadow: 3px 4px 6px #d5d1d1;
    justify-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background: #fafafa;
    transition: .4s;
    padding: 8px 4px;
}

.gridFilterImageSelected {
    border-radius: 5px;
    display: grid;
    justify-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /*background: linear-gradient(145deg, rgba(84, 226, 243, .7) 0%, rgba(102, 238, 183, .7) 100%);
    box-shadow: 3px 4px 6px rgba(84, 226, 243, 1);*/
    background: #efeded;
    box-shadow: 3px 4px 6px #d5d1d1;
    transition: .4s;
    padding: 8px 4px;
    transform: scale(1.05);
    animation: scaleClick .3s linear;
}

.paddingText {
    padding-top: 2px;
}

@keyframes scaleClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.textFilter {
    width: 70px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 12px;
}

