.gridPrincipal {
    display: grid;
    grid-template-columns: 260px 1fr;
    margin-top: 16px;
    padding-bottom: 16px;
}

.gridPrincipalNews {
    display: grid;
    grid-template-columns: 262px 1fr;
}

.gridPrincipalClose {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.styleTitleResult {
    padding: 24px 0;
}

.styleBanner {
    height: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gridSearchOpen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.gridSearchClose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.mainContainerProperties {
    height: 100%;
    background: white;
    border-radius: 6px;
}

.mainContainerPropertiesDarkMode {
    width: 100%;
}

.paddingTitle {
    padding: 24px 0;
}

.gridResult {
    display: grid;
    gap: 16px;
}

.paddingContainer {
    padding: 0 16px;
}

.paddingLeftResult {
    padding-left: 20px;
    /*padding-right: 16px;*/
}

.paddingLeftResultResale {
    padding-left: 35px;
}

.paddingLeftResultNews {
    padding-left: 32px;
}

.displayInAtr {
    height: 48px;
    overflow: hidden;
}

.displayOutAtr {
    height: 100%;
}

.gridReviewDesktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gridNews3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.gridNews4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.gridResaleEvents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
}

.gridResaleEventMobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.PrincipalGridNews {
    display: grid;
    gap: 50px;
}

.sizeBanner {
    width: 100%;
    aspect-ratio: 5/1;
    position: relative;
}

.gridHeaderResult {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.paddingInfo {
    padding: 0 16px;
}

.ratingStarProp {
    height: 20px;
    width: 106px;
    position: relative;
}

.fontSubTitle {
    color: var(--colorSubTitles);
    font-size: 17px;
    line-height: 17px;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 300;
}

.paddingTitleNextEvent {
    padding: 24px;
}

.gridPublicityNews {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: white;
}

.gridStarNumber {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 6px;
    align-items: end;
    margin-top: 10px;
}

.gridOffer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.gridStarNumberMobile {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 6px;
    align-items: end;
}

.gridFeaturedSearch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px
}

.gridFeaturedSearchDropDown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
}

.gridProductOffer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.layoutResaleTicket {
    display: grid;
    width: 1300px;
    margin: auto;
    padding-top: 20px;
}

.layoutNews {
    display: grid;
    width: 1300px;
    margin: auto;
    padding-top: 20px;
}

.layoutOfferSelected {
    display: grid;
    width: 1300px;
    margin: auto;
    padding-top: 20px;
}

.gridPrinciaplNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

@media (min-width: 1281px) {

    .styleBanner {
        height: 250px;
    }

    .gridSearchOpen {
        grid-template-columns: repeat(4, 1fr);
    }

    .gridSearchClose {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 32px;
    }
}

