.sizeImage {
    width: 100%;
    aspect-ratio: 5/2;
    position: relative;
}

.mainCont {
    box-shadow: var(--shadowUnderProducts);
    transition: .4s;
}

.absCont {
    padding:12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.writeNew {
    text-align: left;
}

.writeNewPrincipal {
    margin-top: 8px;
    text-align: right;
}

.heightDegSup {
    height: 32px;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(90deg, rgba(13, 111, 202, 1) 0%, rgba(8, 95, 178, 1) 100%);
}

.heightDegUnd {
    border-radius: 0 0 16px 16px;
    height: 32px;
    background: linear-gradient(90deg, rgba(13, 111, 202, 1) 0%, rgba(8, 95, 178, 1) 100%);
}


.mainCont:hover {
    transform: scale(1.03);
}

.gridImageInfo {
    display: grid;
    grid-template-columns: 45% 55%;
}

.sizeImagePrincipal {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
}

.mainDiv {
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .4);
    transition: .4s;
}

.mainDiv:hover {
    transform: scale(1.02);
}

.boxShadowCard {
    overflow: hidden;
    position: relative;
}

.contInfo {
    padding: 12px 16px;
}

.PrincipalGridNews {
    display: grid;
    gap: 40px;
}

.logoSpix {
    width: 120px;
    height: 30px;
    position: relative;
}

.gridInfo {
    padding: 20px 24px 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grid1 {
    display: flex;
    flex-direction: column;
}

.gridButton{
    display: grid;
    justify-items: right;
}

.styleButton {
    display: grid;
    padding: 2px 28px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 4px;
    overflow: hidden;
    transition: .4s;
}

.styleButtonNo{
    padding: 1px 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden;
    transition: .4s;
}

.styleButtonNo:hover{
    background: #f5f8f8;
}

.styleButton:hover {
    background: #f5f8f8;
}

.styleTitle{
    font-size: 23px;
    font-weight: 500;
}

.fontTitle{
    font-size: 17px;
    font-weight: 500;
    color: var(--colorName);
}

.fontSubTitle{
    font-size: 15px;
    font-weight: 400;
    color: var(--colorPrimaryText);
}

.gridReadNew{
    display: grid;
    justify-content: left;
}

.gridLast{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 8px;
}