.mainDiv {
    padding: 8px 16px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    margin-bottom: 16px;
}

.gridOrderBy {
    display: grid;
    grid-template-columns: max-content repeat(3, max-content);
    gap: 20px;
    align-items: center;
}

.gridButton {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 8px;
    justify-content: center;
    padding: 6px 24px;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
    border: 1px solid rgba(19,135, 215, .3);
}

.gridButtonSelected {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 8px;
    background: rgba(19,135, 215, .2);
    padding: 6px 24px;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
    border: 1px solid rgba(19,135, 215, .3);
    transform: scale(1.03);
}

.imageSizeButton {
    height: 20px;
    width: 24px;
    position: relative;
}
