.mainCont {
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    overflow: hidden;
    transition: .4s;
}

.sizeBanner {
    width: 100%;
    aspect-ratio: 4/1;
    position: relative;
}

.profileSize {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.gridImageInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
    margin: auto;
}
.overflowName {
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoDiv {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.divPrice {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 6px;
    /*    border-top: 1px solid var(--separationLineColor);
        padding-top: 12px;*/
}

.sizeImage {
    width: 70px;
    height: 70px;
    position: relative;
}

.mainDivProd {
    display: grid;
    justify-items: center;
}

.gridProducts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: hidden;
    position: relative;
    transition: 1s;
}

.gridPriceName {
    display: grid;
    gap: 2px;
    justify-items: center;
}

.sizeArrow {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    box-shadow: var(--boxShadowCard);
}

.positionArrowLeft {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    z-index: 5000;
}

.positionArrowRight {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    z-index: 5000;
}

.sizeDiscount {
    height: 16px;
    width: 16px;
    position: relative;
}

.gridImageInfo2 {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.gridNewPa {
    display: grid;
    grid-template-columns: 65% 35%;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

.gridPrice {
    display: grid;
    grid-template-rows: max-content max-content;
    margin: auto;
    gap: 8px;
    justify-items: center;
    justify-content: center;
}

.leftDivRed {
    padding: 12px 16px;
    border-right: 2px dashed #da0e0e;
}

.leftDivGreen {
    padding: 12px 16px;
    border-right: 2px dashed #11a40b;
}

.gridTotal {
    display: grid;
    gap: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.rightDiv {
    padding: 30px 22px;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 8px;
}

.borderRightDivRed {
   /* --borderTypeRed: 2px dashed #da0e0e;
    border-right: var(--borderTypeRed);
    border-top: var(--borderTypeRed);
    border-bottom: var(--borderTypeRed);*/
/*    border-right: 6px solid #da0e0e;
    border-top: 1px solid #da0e0e;
    border-bottom: 1px solid #da0e0e;*/
}

.borderRightDivGreen {
    /*--borderTypeGreen: 2px dashed #11a40b;
    border-right: var(--borderTypeGreen);
    border-top: var(--borderTypeGreen);
    border-bottom: var(--borderTypeGreen);*/
/*    border-right: 6px solid #11a40b;
    border-top: 1px solid #11a40b;
    border-bottom: 1px solid #11a40b;*/
}