.mainCont {
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    overflow: hidden;
    transition: .4s;
}

.sizeBanner {
    width: 100%;
    aspect-ratio: 4/1;
    position: relative;
}

.profileSize {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.gridImageInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
    margin: auto;
}

.overflowName {
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoDiv {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.divPrice {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 6px;
    /*    border-top: 1px solid var(--separationLineColor);
        padding-top: 12px;*/
}

.sizeImage {
    width: 70px;
    height: 70px;
    position: relative;
}

.mainDivProd {
    display: grid;
    justify-items: center;
}

.mainDivProdPop {
    display: grid;
    width: 180px;
    margin: auto;
    justify-items: center;
    padding: 12px;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    overflow: hidden;
    scroll-snap-align: start;
}

.gridProducts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: hidden;
    position: relative;
    transition: 1s;
}

.gridProductsPop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    padding: 8px 0 12px 0;
}

.mainDivPopUp {
    margin: 24px 60px;
    max-height: 512px;
    display: grid;
    grid-template-rows: max-content auto;
    overflow: scroll;
}

.gridPriceName {
    display: grid;
    gap: 2px;
    justify-items: center;
}

.sizeArrow {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    box-shadow: var(--boxShadowCard);
}

.positionArrowLeft {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    z-index: 5000;
}

.positionArrowRight {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    z-index: 5000;
}

.sizeDiscount {
    height: 16px;
    width: 16px;
    position: relative;
}

.gridImageInfo2 {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.gridNewPa {
    display: grid;
    grid-template-columns: 65% 35%;
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
    box-shadow: var(--shadowUnderProducts);
}

.boxShadowRed {
    /*box-shadow: 0 2px 8px #da0e0e;*/
}

.boxShadowGreen {
    /*box-shadow: 0 2px 8px #11a40b;*/
}

.gridPrice {
    display: grid;
    grid-template-rows: max-content max-content;
    margin: auto;
    gap: 8px;
    justify-items: center;
    justify-content: center;
}

.leftDivRed {
    padding: 12px 16px;
    border-right: 2px dashed #da0e0e;
    position: relative;
}

.leftDivGreen {
    padding: 12px 16px;
    border-right: 2px dashed #11a40b;
    position: relative;

}

.gridTotal {
    display: grid;
    gap: 24px;
    grid-template-rows: repeat(3, max-content);
    margin-top: auto;
    margin-bottom: auto;
}

.rightDiv {
    padding: 16px 22px;
    display: grid;
}

.borderRightDivRed {
    /* --borderTypeRed: 2px dashed #da0e0e;
     border-right: var(--borderTypeRed);
     border-top: var(--borderTypeRed);
     border-bottom: var(--borderTypeRed);*/
    /*    border-right: 6px solid #da0e0e;
        border-top: 1px solid #da0e0e;
        border-bottom: 1px solid #da0e0e;*/
}

.borderRightDivGreen {
    /*--borderTypeGreen: 2px dashed #11a40b;
    border-right: var(--borderTypeGreen);
    border-top: var(--borderTypeGreen);
    border-bottom: var(--borderTypeGreen);*/
    /*    border-right: 6px solid #11a40b;
        border-top: 1px solid #11a40b;
        border-bottom: 1px solid #11a40b;*/
}

.styleButton {
    color: white;
    background: var(--gradientBlueButton);
    padding: 2px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
}

.etiquetaRed{
    width: 30px;
    height: 45px;
    border-radius: 0 0 20px 20px;
    background: #da0e0e ;
    position: absolute;
    right: 16px;
    top: 0;
}

.etiquetaGreen{
    width: 30px;
    height: 45px;
    border-radius: 0 0 20px 20px;
    background: #11a40b;
    position: absolute;
    right: 16px;
    top: 0;
}

.circulo{
    position: absolute;
    bottom: 10px;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: calc(50% - 4px);
}

.trapecioRed {
    width: 45px;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 25px solid #da0e0e;
}

.rectanguloGreen{
    width:45px;
    height: 45px;
    background:#11a40b ;
}

.trapecioGreen {
    width: 45px;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 25px solid #11a40b;
}

.rectanguloRed{
    width:45px;
    height: 45px;
    background:#da0e0e ;
}

.positionEtiqueta{
    position: absolute;
    right: 16px;
    top: 0;
}