.paddingTitle{
    padding: 12px;
}
.borderBottom{
    border-bottom: 1px solid var(--separationLineColor);
}
.borderBottomDarkMode{
    border-bottom: 1px solid var(--separationLineColorDarkMode);
}
.gridContainerSubcategory{
    display: grid;
    gap: 12px;
    padding: 0px 16px 16px 24px;
}

.styleRangePriceInput{
    box-shadow: var(--boxShadowCard);
    height: 32px;
    width: 150px;
    border-radius: 2px;
    text-indent: 28px;
}

.styleRangePriceInputDarkMode{
    height: 32px;
    width: 150px;
    border-radius: 2px;
    text-indent: 28px;
}

.styleContainerDareInput{
    height: 32px;
    width: 150px;
    position: relative;
    border-radius: 2px;
    box-shadow: var(--boxShadowCard);

}

.styleContainerDareInputDarkMode{
    height: 32px;
    width: 150px;
    position: relative;
    border-radius: 2px;
}

.styleRangeDateInput{
    height: 32px;
    width: 150px;
    position: absolute;
    border-radius: 2px;
    padding: 0px 5px;
    opacity: 0;
}
.positionDolar{
    position: absolute;
    top: 6px;
    left: 10px;
}
.positionCalendar{
    position: absolute;
    top: 11px;
    left: 8px;
}

