.mainDiv {
    padding: 4px;
    margin: auto;
    width: 100%;
    --boxShadowInt: 0 0 3px rgba(0, 0, 0, .2);
}

.mainDivInfo{
    display: grid;
    gap: 24px;
}

.title {
    font-size: 28px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.subtitle{
    color: var(--colorPrimaryTextDesktop);
}

.mainDivTitle {
    padding-bottom: 24px;
}

.grid {
    display: grid;
    gap: 16px;
}

.textInput {
    width: 100%;
    box-shadow: var(--boxShadowInt);
    padding: 12px;
    border-radius: 6px;
    overflow: hidden;
}

.textArea {
    width: 100%;
    height: 200px;
    box-shadow: var(--boxShadowInt);
    border-radius: 8px;
    overflow: hidden;
    resize: none;
    padding: 12px;
}

.buttonCreate {
    padding: 2px 32px;
    background: var(--gradientBlueButton);
    color: white;
    width: max-content;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
}

.gridMyForms {
    display: grid;
    gap: 16px;
}

.mainDivForm {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    gap: 8px;
    padding: 12px;
}

.mainDivFormUser {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    gap: 8px;
    padding: 12px;
    height: max-content;
    cursor: pointer;
}

.gridIcon {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.textIcon{
    color: var(--colorPrimaryTextDesktop);
}

.gridTitleButton{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
}

.titleForm{
    font-weight: 500;
    color: var(--colorPrimaryText);
}

.sizeDeleteIcon{
    width: 12px;
    height: 12px;
    position: relative;
    margin: auto;
    opacity: .5;
}

.bordeClose{
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    border-radius: 50%;
    padding: 6px;
    height: max-content;
    width: max-content;
}

.gridFormClose{
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr max-content;
}

.gridIntForm{
    display: grid;
    gap: 8px;
}

.sizeProfile {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.sizeProfilePopUp {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.mainDivPopUp{
    width: 100%;
    padding-top: 20px;
    margin: auto;
    border-top: 1px solid var(--separationLineColor);
}

.sizeImagePath{
    height: 60px;
    width: 60px;
    position: relative;
    margin: auto;
}

.gridImageNameUser {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.gridPopUp{
    display: grid;
    gap: 12px;
    color: var(--colorPrimaryText);
}

.name{
    font-weight: 500;
}

.aboutMe{
    color: var(--colorPrimaryText);
}

.email{
    color: var(--colorSecundaryTextDesktop);
}