.mainDiv {
    --paddingSections: 16px;
    display: grid;
}

.mainContTickets {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 83px;
}

.sectionClose {
    height: 0;
    overflow: hidden;
    background: red;
    transition: 1s;
}

.button {
    display: grid;
    padding: 2px 6px;
    background: var(--gradientBlueButton);
    width: 120px;
    height: max-content;
    color: whitesmoke;
    border-radius: 4px;
    overflow: hidden;
}

.buttonOff {
    display: grid;
    padding: 2px 6px;
    background: #e0e0e0;
    min-width: 120px;
    height: max-content;
    color: whitesmoke;
    border-radius: 4px;
    overflow: hidden;
}

.sectionOpen {
    height: 300px;
    overflow: scroll;
    background: blue;
    transition: 1s;
}

.mainContInfo {
    display: grid;
    padding: var(--paddingSections);
    border-bottom: 2px solid var(--separationLineColor);
    border-top: 2px solid var(--separationLineColor);

}

.gridDeletePrice {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: end;
}

.gridTotalBuy{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: end;
}

.resumeBuy {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max-content;
    padding: 12px 16px;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    font-weight: 500;
    background: linear-gradient(180deg, #f4f7fa 0%, #eef2f6 100%);
    justify-content: space-between;
    z-index: 100000;
}

.totalPrice {
    display: grid;
    align-items: center;
    font-size: 18px;
    text-align: right;
}

.numberTickets {
    font-size: 18px;
    display: grid;
    align-items: center;
}

.seeTickets{
    font-size: 16px;
    color: var(--linkColor);
    display: grid;
    align-items: center;
    font-weight: 400;
    text-align: left;
}

.titleArea{
    font-size: 21px;
    font-weight: 500;
}

.gridSeeTickets{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4px;
    align-items: center;
}

.sizeTicketIcon{
    height: 16px;
    width: 16px;
    position: relative;
}

.gridDirection {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 6px;
    align-items: center;
}

.sizeMapIcon {
    width: 16px;
    aspect-ratio: 1/1;
    position: relative;
}

.paddingCapacity{
    padding-bottom: 8px;
}

.reminigTicketsCritic{
    color: red;
}

.reminigTickets{
    color: var(--colorPrimaryTextDesktop);
}

.gridRows{
    display: grid;
    grid-template-columns: 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: column;
    overflow: scroll;
    gap: 12px;
    padding: 4px;
}

.mainContRows{
    align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 16px 12px ;
    border-bottom: 2px solid var(--separationLineColor);
}

.rowContent {
    display: grid;
    font-weight: 500;
    height: 100%;
    aspect-ratio: 1/1;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    background: white;
    align-items: center;
    justify-items: center;
    border-radius: 2px;
    overflow: hidden;
    transition: .2s;
}

