.mainDivOpen {
    top: 93px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: white;
    transition: 1s;
    overflow: scroll;
    z-index: 900;
}

.mainDivClose {
    top: calc(100% - 84px);
    height: 0;
    overflow: hidden;
    width: 100%;
    background: white;
    transition: .7s linear;
    position: fixed;
    z-index: 900;
}

.mainContent {
    padding: 16px 16px 84px 16px;
    display: grid;
    gap: 24px;
}

.closeIcon{
    height: 16px;
    width: 16px;
    position: relative;
}

.gridSelectedIcon{
    padding: 16px 16px 0 16px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}