.principalGridOpen {
    padding: 16px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    --fillSections: #ff8383;
    --strokeWith: 1px;
    --strokeWithBefore: 2px;
    --transitionHover: .2s;
    --transformOrigin: center center;
    --scaleTransform: 1.07;
}

.sizeStadium {
    width: 100%;
    height: 100%;
    position: relative;
}

.svgNormal {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transform: scale(1);
    transition: 1.5s;
}

.svgReduce {
    transform: scale(0);
    overflow: scroll;
    transition: 1.5s;
}

.blue {
    --colorStrokeBlue: #225fe0;
    stroke: var(--colorStrokeBlue);
    fill: var(--colorStrokeBlue);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    transform-origin: var(--transformOrigin);
    -webkit-transform-origin: var(--transformOrigin);
}

.blue:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeBlue);
}

.svgClass {
    stroke-width: 1px;
    stroke: #ea2828;
    fill-opacity: .8;
}

.critic {
    --colorStrokeRed: #ff6c6c;
    stroke: var(--colorStrokeRed);
    fill: var(--colorStrokeRed);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    transform-origin: var(--transformOrigin);
    -webkit-transform-origin: var(--transformOrigin);
}

.critic:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeRed);
}

.normal {
    --colorStrokeGreen: #2eff51;
    stroke: var(--colorStrokeGreen);
    fill: var(--colorStrokeGreen);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    -webkit-transform-origin: var(--transformOrigin);
}

.normal:hover {
    stroke-width: var(--strokeWithBefore);
    stroke: var(--colorStrokeGreen);
}

.noStock {
    --colorStrokeGray: #efefef;
    stroke: var(--colorStrokeGray);
    fill: var(--colorStrokeGray);
    stroke-width: var(--strokeWith);
    transition: var(--transitionHover);
    /*transform-origin: var(--transformOrigin);*/
    -webkit-transform-origin: var(--transformOrigin);;
}

.contSvg {
    overflow: hidden;
    object-fit: contain;
}
.spaceSvg{
    padding: 16px;
}
.mainContSvg {
    margin: auto;
}

.mainContSvg:hover {
    transition: .4s;
}

.divTransition2 {
    animation: animationZoomIn 1s linear;
}

.divTransition {
    animation: animationZoom 1s linear;
}

.divZoom {
    position: absolute;
    bottom: 15%;
    right: 25%;
    display: grid;
    background: white;
    grid-template-rows: repeat(2, max-content);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 9000;
}

.divLesMore {
    --sizeZoomCont: 40px;
    display: grid;
    height: var(--sizeZoomCont);
    width: var(--sizeZoomCont);
    font-weight: 800;
    font-size: 16px;
    justify-items: center;
    align-items: center;
    color: gray;
    transition: .4s;
}

.touchActionNone{
    touch-action: none;
    -ms-touch-action: none;
}

.divLesMore:hover {
    background: rgba(0, 0, 0, .1);
}

.mainDivSelectInput {
    position: relative;
    width: 180px;
    margin-left: 12px;
}

.colorArea{
    color: var(--colorPrimaryTextDesktop);
    text-align: left;
}

.selectCss {
    z-index: 9000000;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    border-radius: 3px;
    overflow: hidden;
    padding: 4px 8px;
}

.styleOptions{
    background: #ffffff;
    padding: 4px 8px;
    color: var(--colorSecundaryTextDesktop);
    text-align: left;
}

.optionOpen{
    width: 100%;
    position: absolute;
    z-index: 90000000;
    overflow: scroll;
    height: 200px;
    display: grid;
    transition: .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,.3) ;
}
.optionClose{
    width: 100%;
    position: absolute;
    display: grid;
    height: 0;
    overflow: hidden;
    transition: .1s;
}

.sizeDownArrow {
    height: 8px;
    width: 14px;
    position: relative;
}

.mainDivZones {
   padding: 16px 12px 0 16px;
}

.gridZones {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    overflow: scroll;
    padding-top: 16px;
}

.gridColorZone {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
}

.divColor {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    overflow: hidden;
}


@keyframes animationZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes animationZoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
