.gridReviewHeader{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 72px;
    padding-bottom: 24px;
}

.fontReviewResume{
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    color: #0F1111FF;
}

.sizeStarResume{
    height: 24px;
    width: 124px;
    position: relative;
}
.styleBarReview{
    height: 12px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
    width: 100px;
    margin-top: 4px;
}
.styleProgresBarReview{
    height: 12px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 4px;
    background: #2D7DFFFF;
    width: 40px;
}

.styleButtonAdd{
    color: var(--colorPrimaryText);
    box-shadow: var(--boxShadowCard);
    text-align: left;
    width: max-content;
    padding: 5px 28px;
    border-radius: 3px;
}
.styleButtonAdd:hover{
    background: #f6f6f6;
}