.mainDiv {
    display: grid;
    gap: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    border-radius: 6px;
    overflow: hidden;
    padding: 12px;
    transition: .4s;
}

.mainDiv:hover {
    transform: scale(1.03);
}

.sizeReviewImage {
    --sizeReviewImage: 42px;
    height: var(--sizeReviewImage);
    width: var(--sizeReviewImage);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.maxWidthtextReview {
    max-width: 500px;
}

.sizeCheckIcon {
    --sizeCheckIcon: 10px;
    height: var(--sizeCheckIcon);
    width: var(--sizeCheckIcon);
    position: relative;
}

.sizeReviewStar {
    --sizeReviewStar: 15px;
    height: var(--sizeReviewStar);
    width: 85px;
    position: relative;
}

.containerButton{
    display: grid;
    justify-content: right;
}