.cardStyle{
    --spaceCard: 40px;
    box-shadow: var(--boxShadowCard);
    padding: 0 12px;
    border-radius: 8px;
    margin-top: var(--spaceCard);
    margin-bottom: var(--spaceCard);
    position: sticky;
    top: var(--spaceCard);
}

.coverImageProperties{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.selectDateContainer{
    padding: 16px 0;
    display: grid;
    gap: 12px;
}

.gridIconText{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
    justify-items: left;
}

.sizeIcon{
    height: 12px;
    width: 12px;
    position: relative;
}

.gridButton{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    overflow: hidden;
    background: var(--gradientBlueButton);
    color: white;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
