.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 2px;
}

.title {
    font-size: var(--userAccountTitle);
    color: var(--colorTitlesDesktop);
}

.gridSearchProducts {
    display: grid;
    gap: 24px;
}

.gridTitleButton {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 12px;
}

.gridProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
}

.mainDivCont {
    display: grid;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.contInput {
    width: 50%;
}