.mainContainer {
    --spaceY: 16px;
    --spaceX: 0px;
    --spaceXGlobal: 16px;
    --spaceYMini: 12px;
    padding: var(--spaceY) var(--spaceXGlobal);
    position: relative;
    display: grid;
    width: 100%;
}

.gridTitleCar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 2px;
    padding-bottom: 24px;
}

.sizeBuyCar {
    height: 20px;
    width: 27px;
    position: relative;
}

.positionNumberCar {
    position: absolute;
    top: -8px;
    left: 12px;
    font-weight: 500;
}

.positionMore {
    position: absolute;
    left: 8px;
    top: -6px;
}

.positionNine {
    position: absolute;
    left: -1px;
}

.grid {
    display: grid;
    gap: 16px;
    padding: 0px var(--spaceX) var(--spaceY) var(--spaceX);
}

.gridItems {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.totalConainer {
    padding: 24px var(--spaceX);
    border-top: 2px solid var(--separationLineColor);
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    justify-content: left;
}

.gridCupons {
    display: grid;
    gap: 24px;
}

.applyContainer {
    display: grid;
    border: 2px solid var(--separationLineColor);
    align-content: center;
    border-radius: 4px;
    padding: 0 var(--spaceXGlobal);
}

.borderCupon {
    box-shadow: var(--boxShadowCard);
    padding: 6px;
}

.containerCupon {
    border: 2px solid var(--separationLineColor);
    padding: var(--spaceYMini) var(--spaceXGlobal);
    border-radius: 8px;
}

.containerCuponIn {
    height: 22px;
    overflow: hidden;
    transition: .4s;
}

.containerCuponOut {
    height: 70px;
    transition: .2s;
}

.rotateArrow {
    transform: rotate(180deg);
    transition: .4s;
}

.normalArrow {
    transition: .4s;
}

.sizeArrow {
    height: 6px;
    width: auto;
}

.gridInCupon {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 0 var(--spaceYMini) 0;
}

.paddingSection {
    padding: 0 var(--spaceX);
}

.maxWidthButton{
    background: var(--gradientBlueButton);
    color: white;
    padding: 4px 0;
    border-radius: 3px;
    max-width: 250px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    bottom: var(--spaceY);
    gap:16px;
    margin: 2px 0 0 0;
}

.timerContainer {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap:6px;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding: 0 0 24px 0;
    color: #da1818;
}

.sizeIconTimer{
    width: 12px;
    height: 16px;
    position: relative;
}


