.styleImage {
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
}
.styleLogo{
    --sizeLogoOI: 48px;
    position: absolute;
    height: var(--sizeLogoOI);
    width: var(--sizeLogoOI);
    border-radius: 50%;
    bottom: 6px;
    right: 6px;
    overflow: hidden;
}
.snapScroll{
    scroll-snap-align: start;
}
