.styleImage {
    width: 60%;
    aspect-ratio: 1/1;
    margin: auto;
}

.positionLogo{
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.styleLogo {
    --sizeLogoOI: 44px;
    position: relative;
    height: var(--sizeLogoOI);
    width: var(--sizeLogoOI);
    border-radius: 50%;
    overflow: hidden;
}

.snapScroll {
    scroll-snap-align: start;
}
