.principalGridVertical {
    --paddinBottomDivX: 12px;
    /* border: 2px solid #eeeeee;*/
    /*border-bottom: 1px solid #dedcdc;*/
    display: grid;
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    width: 220px;
    margin: auto;
}

.scrollSnapMobile{

}

.containerImage {
    position: relative;
}


.fontSize{
/*    color: var(--colorSecundaryTextDesktop);*/
    /*color: #ababab;*/
    font-size: 16px;
    font-weight: 300;
    /*font-family: Helvetica, sans-serif, Arial;*/
}

.sizeImage {
    width: 100%;
    position: relative;
    z-index: 20;
    aspect-ratio: 1/1;
}

.zIndexLastTicket {
    position: absolute;
    z-index: 40;
}

.subTitleMargin {
    margin-bottom: 6px;
}

.princiaplGridInfo {
    display: grid;
    align-content: start;
    padding: 10px 0 0 0;
}

.TopDivInfo {
    padding: 0 24px 12px 24px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
}

.contRating {
    margin-top: 3px;
}

.bottomDivSearch {
    padding: 8px 24px;
    border-top: 2px dashed #e7e7e7;
    display: grid;
    gap: 6px;
}

.bottomDivResale {
    padding: 0 var(--paddinBottomDivX) var(--paddinBottomDivX) var(--paddinBottomDivX);
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}


.displayIn {
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.displayOut {
    height: 24px;
    transition: .2s;
}



