.principalGridHorizontal {
    display: grid;
    grid-template-columns: 170px 1fr;
    box-shadow: 0 0 3px rgba(0, 0, 0, .20);
    border-radius: 6px;
    overflow: hidden;
}

.containerImage {
    position: relative;
}

.sizeImage {
    aspect-ratio: 4/5;
}

.zIndexLastTicket {
    position: absolute;
    z-index: 20;
}

.zIndexImage {
    position: relative;
    z-index: 20;
}


.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridInfo {
    padding: 8px 6px 0 10px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
}

.contRating {
    display: grid;
    margin-top: 3px;
    font-size: 12px;
    line-height: 12px;
}

.bottomDivSearch {
    padding: 10px 0 0 0;
    border-top: 2px dashed var(--separationLineColor);
    display: grid;
    gap: 5px;
}

.bottomDivResale {
    padding: 8px 0 0 0;
    /*margin: 10px 14px 0 14px;*/
    border-top: 1px solid var(--separationLineColor);
    display: grid;
    gap: 2px;
}

.TopDivInfo {
    padding: 0 0 14px 0;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 4px;
    align-items: center;
    overflow: scroll;
}

.tagStyleDisc {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 3px;
    overflow: hidden;
    padding: 3px 6px;
    background: var(--colorTagDiscount);
    color: white;
}

.textResaleOffer {
    font-size: 14px;
    color: var(--colorPrimaryTextDesktop);
    font-weight: 400;
}

