.principalGridHorizontal {
    display: grid;
    grid-template-columns: 150px auto;
}

.containerImage {
    position: relative;
}

.sizeImage {
    aspect-ratio: 4/5;
}

.zIndexLastTicket {
    position: absolute;
    z-index: 20;
}

.zIndexImage {
    position: relative;
    z-index: 20;
}


.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.gridInfo {
    margin-top: 16px;
}

.gridInfoNormal{
    padding: 16px 0 0 0;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
}

.contRating {
    display: grid;
    margin-top: 3px;
    font-size: 12px;
    line-height: 12px;
}

.bottomDivSearch {
    padding: 8px 0 0 0;
    margin: 10px 6px 0 14px;
    border-top: 2px solid var(--separationLineColor);
    display: grid;
    gap: 2px;
}

.bottomDivResale {
    padding: 8px 0 0 0;
    margin: 10px 6px 0 14px;
    border-top: 2px solid var(--separationLineColor);
    display: grid;
    gap: 2px;
}

.TopDivInfo {
    padding: 0 12px;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}
