.bannerFeatureProperties {
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
}

.logoFeatureProperties {
    --sizeLogoFeaturedHome: 44px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 5%;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.logoFeaturePropertiesv2 {
    --sizeLogoFeaturedHome: 40px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: white;
    /*top: calc(100% - (var(--sizeLogoFeaturedHome) / 2));*/

    /*left: calc(50% - (var(--sizeLogoFeaturedHome) / 2));*/
}

.borderLogo {
    position: absolute;
    background: white;
    padding: 2px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.mainDivInfo {
    display: grid;
    grid-template-columns: 48% 52%;
    gap: 12px;
    margin: auto;
    padding: 12px 10px;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.topDiv {
    position: relative;
}

.borderDiv {
    padding-left: 12px;
    border-left: 2px solid var(--separationLineColor);
}

/*.bottomDivSearch {
    padding: 6px 0 0 0;
    display: grid;
    gap: 6px;
    margin: auto;
}*/

.bottomDivSearch {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-content: left;
    gap: 6px;
    padding-top: 2px;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}


