.mainDiv {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    position: relative;
}


.sizeBanner {
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}

.gridFeaturePrincipal {
    display: grid;
}

.mainDivInfo {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 8px;
    padding: 10px;
    position: relative;
}

.boxShadowPro {
    box-shadow: 0 0 5px #cec8c8;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.boxShadowProSelected {
    box-shadow: 0 0 5px #e7620d;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.topDiv {
    position: relative;
}

.bottomDivSearch {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 8px;
    padding-top: 10px;
    position: relative;
}

.gridInfoProduct {
    padding: 4px 8px 10px 8px;
}


.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}


.logoFeatureProperties {
    --sizeLogoFeaturedHome: 40px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.borderLogo {
    position: absolute;
    background: white;
    padding: 2px;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    overflow: hidden;
}

.mainDivProducts {
    display: grid;
    grid-template-columns: 100px;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    overflow-x: scroll;
    gap: 12px;
    padding: 8px 4px;
}

.gridProductSelected {
    display: grid;
    grid-template-columns: 120px;
    position: absolute;
    bottom: 16px;
    right: 24px;
}

.gridProductSelection {
    border-top: 1px solid var(--separationLineColor);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 16px;
    overflow: scroll;
    padding: 16px 16px 16px 14px;
}

.sizeImageProduct {
    width: 100%;
    aspect-ratio: 1.2/1;
    position: relative;
}

.sizeProductSelection {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

