.mainDiv{
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    position: relative;
}


.sizeBanner{
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}

.gridFeaturePrincipal{
    display: grid;
}

.mainDivInfo {
    display: grid;
    gap:8px;
    padding: 8px 10px;
    position: relative;
}

.boxShadowPro{
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    background: white;
    transition: .4s;
}

.gridRatingStar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    gap: 4px;
    margin-bottom: 6px;
}

.subTitleMargin {
    margin-bottom: 4px;
}

.titleMargin {
    margin-bottom: 2px;
}

.topDiv {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    position: relative;
}

.borderDiv {
    border-top: 2px solid var(--separationLineColor);
}

.bottomDivSearch {
    padding-left: 12px;
    border-left: 1px solid var(--separationLineColor);
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 6px;
    position: relative;
}

.gridIconInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.gridInfoProduct{
    padding: 4px 8px 10px 8px;
}


.sizeIcon {
    height: 12px;
    width: 12px;
    position: relative;
}


.logoFeatureProperties {
    --sizeLogoFeaturedHome: 40px;
    height: var(--sizeLogoFeaturedHome);
    width: var(--sizeLogoFeaturedHome);
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /*    top: calc(100% - (var(--sizeLogoFeaturedHome)/2));
        left: calc(50% - (var(--sizeLogoFeaturedHome)/2));*/
}

.borderLogo {
    position: absolute;
    background: white;
    padding: 2px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.mainDivProducts{
    display: grid;
    grid-template-columns: 80px;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    overflow-x: scroll;
    gap: 12px;
    padding: 8px 4px;
}

.sizeImageProduct{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}