.gridSelected {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 8px;
    overflow: scroll;
    align-content: center;
}

.styleTags {
    justify-content: space-between;
    gap: 8px;
    padding: 3px 8px;
    border-radius: 3px;
    background: var(--gradientSpix);
    color: white;
    height: max-content;
}

.styleTagsDarkMode {
    justify-content: space-between;
    padding: 3px 8px;
    border-radius: 3px;
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    color: white;
}

.styleTagsCategories {
    justify-content: space-between;
    padding: 1px 8px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(255, 145, 0, 1) 0%, rgba(255, 187, 0, 1) 100%);
}

.paddingFilters {
    padding: 16px 12px 16px 12px;
}

.gridTitle {
    display: grid;
    padding: 0 16px 12px 16px;
}

.styleBanner {
    height: 80px;
    width: 100%;
    object-fit: cover;
}

.displayInFilters {
    height: 164px;
    overflow: hidden;
}

.fontSize{
    font-size: 14px;
    line-height: 14px;
}

.displayInCategoryFilter {
    height: 74px;
    overflow: hidden;
}

.displayOutFilters {
    height: 100vh;
    overflow: scroll;
}

.borderBottom {
    border-bottom: 2px solid var(--separationLineColor);
}

.borderBottomDarkMode {
    border-bottom: 2px solid var(--separationLineColorDarkMode);
}

.borderLeft {
    border-left: 1px solid var(--separationLineColor);
}

.borderLeftDarkMode {
    border-left: 1px solid var(--separationLineColorDarkMode);
}

.paddingHeader {
    padding: 12px 33px 12px 16px;
}

.paddingCleanFilters {
    padding: 16px 34px 16px 16px;
}

.paddingTitle {
    padding: 24px 0;
}

.gridResult {
    display: grid;
    gap: 32px;
}

.paddingContainer {
    padding: 0 12px;
}


.gridAtributesAdvanced {
    display: grid;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.gridResultFiltersOut {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.gridResultFiltersIn {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}

.paddingTitle {
    padding: 12px 16px;
}

.carrouselCont {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 26px;
    overflow-x: scroll;
}

.engineButton {
    background: #f1efef;
    box-shadow: 3px 4px 6px #d5d1d1;
    border-radius: 5px;
    padding: 22px 8px;
}

.buttonsCont {
    display: grid;
    border-top: 2px solid var(--separationLineColor);
    border-bottom: 2px solid var(--separationLineColor);
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: scroll;
    padding: 16px 16px 20px 16px;
}

.buttonsContSub {
    display: grid;
    border-top: 2px solid var(--separationLineColor);
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: scroll;
    padding: 20px 16px;
    border-bottom: 2px solid var(--separationLineColor);
}


.gridButton {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    background: #fcfbfb;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
    transition: .3s;
    overflow: hidden;
}

.inputRadioStyle{
    height: 10px;
    width: 10px;
    margin-top: 1px;
}

.gridButtonSub {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    justify-content: center;
    background: #fcfbfb;
    align-items: center;
    gap: 7px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    padding: 6px 12px;
    border-radius: 4px;
    transition: .3s;
    overflow: hidden;
}

.paddingText {
    color: var(--colorPrimaryText);
    font-weight: 400;
}

.gridButtonSelected {
    display: grid;
    gap: 8px;
    color: white;
    grid-template-columns: max-content max-content;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    background: #f1efef;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
    transition: .3s;
    transform: scale(1.05);
    overflow: hidden;
}

.imageSize {
    height: 30px;
    width: 40px;
    position: relative;
}

.imageSizeSub {
    height: 20px;
    width: 20px;
    position: relative;
}

.imageSizeButton {
    height: 20px;
    width: 26px;
    position: relative;
}

.imageSizeButtonOffer {
    height: 20px;
    width: 20px;
    position: relative;
}

.gridFilterImage {
    border-radius: 5px;
    display: grid;
    justify-content: center;
    justify-items: center;
    transition: .3s;
    padding: 4px;
}

.gridFilterImageSelected {
    border-radius: 5px;
    transition: .3s;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 4px;
}

@keyframes scaleClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.textFilter {
    font-size: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    color: var(--colorPrimaryText);
    overflow: hidden;
    margin-top: 12px;
}

.textFilterSub {
    font-size: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    color: var(--colorPrimaryText);
    overflow: hidden;
}


.menuDesplegableIn {
    position: absolute;
    height: 100vh;
    border-radius: 8px 0 0 8px;
    width: 250px;
    z-index: 5000;
    top: 0;
    overflow: hidden;
    right: -100vw;
    transition: .6s linear;
}

.menuDesplegableOut {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    z-index: 5000;
    padding-left: 20vw;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    top: 0;
    right: 0;
    transition: .6s linear;
}

