.mainCont {
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    overflow: hidden;
    transition: .4s;
}

.sizeBanner {
    width: 100%;
    aspect-ratio: 4/1;
    position: relative;
}

.profileSize {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.gridImageInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
    margin: auto;
}

.overflowName {
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoDiv {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.divPrice {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 6px;
    /*    border-top: 1px solid var(--separationLineColor);
        padding-top: 12px;*/
}

.sizeImage {
    width: 70px;
    height: 70px;
    position: relative;
}

.sizeImagePop {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.mainDivProd {
    display: grid;
    justify-items: center;
    scroll-snap-align: start;
}

.gridProducts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
    position: relative;
    transition: 1s;
}

.gridPriceName {
    padding: 0 12px;
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
    gap: 2px;
}

.gridPriceNamePop {
    padding: 8px 0;
    display: grid;
    width: 100%;
    gap: 2px;
}

.sizeArrow {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    box-shadow: var(--boxShadowCard);
}

.positionArrowLeft {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    z-index: 5000;
}

.positionArrowRight {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    z-index: 5000;
}

.sizeDiscount {
    height: 16px;
    width: 16px;
    position: relative;
}

.gridImageInfo2 {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.gridNewPa {
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

.gridPrice {
    display: grid;
    grid-template-rows: max-content max-content;
    margin: auto;
    gap: 8px;
    justify-items: center;
    justify-content: center;
}

.leftDivRed {
    padding: 12px;
    border-right: 2px dashed #da0e0e;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.leftDivGreen {
    padding: 12px;
    border-right: 2px dashed #11a40b;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gridTotal {
    display: grid;
    grid-template-rows: 1fr max-content;
}

.divTotal {
    display: grid;
    align-content: center;
}

.rightDiv {
    padding: 12px;
    display: grid;
    position: relative;
}

.styleButton {
    color: white;
    background: var(--gradientBlueButton);
    padding: 2px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
}

.etiquetaRed {
    width: 36px;
    height: 42px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 4px #9a0101;
    background: #da0e0e;
    position: absolute;
    right: 16px;
    display: grid;
    align-content: center;
    justify-content: center;
    top: 0;
}

.etiquetaGreen {
    width: 36px;
    height: 42px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 4px #046701;
    background: #11a40b;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 0;
}

.circulo {
    position: absolute;
    bottom: 10px;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: calc(50% - 4px);
}

.mainDivProdPop {
    display: grid;
    width: 250px;
    margin: auto;
    box-shadow: var(--shadowUnderProducts);
    border-radius: 6px;
    padding: 0 12px;
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
}

.gridProductsPop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    padding: 8px 6px 12px 6px;
}

.mainDivPopUp {
    margin: 24px 16px;
    max-height: 560px;
    display: grid;
    grid-template-rows: max-content auto;
    overflow: scroll;
}

.dicountPer {
    color: white;
    font-size: 11px;
    font-weight: 600;
}

.positionSeeMore {
    text-decoration: underline 1px var(--colorSecundaryText);
    z-index: 100000000;
}

.contImageProp{
    padding: 12px 12px 0 12px;
    width: 100%;
}

@media (min-width: 460px){
    .mainDivProdPop {
        width: 100%;
    }

    .gridProductsPop {
        grid-template-columns: repeat(2, 1fr);
    }
}