.dropDownGridPrincipal {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
}

.gridPublicity {
    display: grid;
    grid-template-rows: max-content;
    gap: 20px;
}

.dropDownGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.publicity {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--boxShadowCard);
}
