.dropDownGridPrincipal {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 20px;
}

.gridPublicity {
    display: grid;
    gap: 20px;

}

.dropDownGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.publicity {
    width: 300px;
    height: 875px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--boxShadowCard);
}
