.containerArrow {
    display: grid;
    align-items: center;
    height: 32px;
    width: 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    z-index: 90000000;
    background: white;
    transition: var(--transitionCarrouselHome);
}

.mainDivCarrouselProperties {
    position: relative;
    width: 100%;
    max-width: var(--maxWidthBanner);
    display: grid;
    gap: 16px;
    margin: auto;
    overflow: scroll;
}

.isButtonVisible {
    grid-template-columns: 32px 1fr 32px;
}

.posAbsolute{
    position: absolute;
}

.posRelative{
    position: relative;
}

.overflowCarrouselHome {
    overflow: scroll;
}

.gridHomeCarrouselLayout {
    display: grid;
    padding-left: 2px;
    padding-right: 2px;
    transition: .4s;
}

.gridHomeCarrouselLayoutMaxContent {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
}

.propertiesArrowCarrousel {

}

@media (min-width: 1281px) {
    .mainDivCarrouselProperties {
        overflow: visible;
    }

    .overflowCarrouselHome {
        overflow: scroll;
    }
}