.grid {
    --margen: 40px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 24px;
}

.leftCardProp{
    margin: var(--margen) 0;
    overflow: hidden;
}

.rightCardProp{
    box-shadow: 0 5px 12px rgba(0,0,0,.1), 0 -1px 6px rgba(0,0,0,.1);
    margin: var(--margen) 0;
    top: var(--margen);
    position: sticky;
    max-height: 600px;
    min-height: 560px;
    border-radius: 8px;
}

@media (min-width: 1281px) {
    .grid {
        grid-template-columns: 1fr 340px;
        gap: 40px;
    }
}