.sizeReviewImage{
    --sizeReviewImage: 42px;
    height: var(--sizeReviewImage);
    width: var(--sizeReviewImage);
    border-radius: 50%;
    position: relative;
}
.maxWidthtextReview{
    max-width: 500px;
}

.sizeCheckIcon{
    --sizeCheckIcon: 12px;
    height: var(--sizeCheckIcon);
    width: var(--sizeCheckIcon);
    position: relative;
}

.sizeReviewStar{
    --sizeReviewStar: 16px;
    height: var(--sizeReviewStar);
    width: 90px;
    position: relative;
}