.mainDiv{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.mainDivInfo {
    display: grid;
    gap: 4px;
    height: 100%;
    align-content: center;
}

.gridNameThreePoints {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 12px;
    align-items: center;
    width: 80%;
}

.name {
    font-size: 21px;
    font-weight: 500;
}

.sizeThreePoints {
    height: 16px;
    aspect-ratio: 1/1;
    position: relative;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: start;
    gap: 8px;
    padding-bottom: 2px;
}

.tagBase {
    padding: 0 12px;
    border-radius: 20px;
    overflow: hidden;
    width: max-content;
    color: white;
    font-weight: 500;
    font-size: 14px;

}

.tagRestaurant {
    background: linear-gradient(145deg, #e62e8c 0%, #da45d6 100%);
}

.tagBeautyAndHealth {
    background: linear-gradient(145deg, rgba(128, 0, 128, .5) 0%, rgba(96, 0, 96, 0.5) 100%);
}

.tagDefault {
    background: linear-gradient(145deg, rgb(17, 106, 245) 0%, rgb(69, 124, 213) 100%);
}

.tagDefaultEvent {
    background: linear-gradient(145deg, #fc8209 0%, #ff6200 100%);
    background: linear-gradient(145deg, #e62e8c 0%, #da45d6 100%);
    background: linear-gradient(145deg, rgb(17, 106, 245) 0%, rgb(69, 124, 213) 100%);
}

.contSocialButton {
    padding: 10px 0 20px 0;
}

.produce {
    color: var(--colorSecundaryTextDesktop);
}

.mainDivPopUp {
    width: 100%;
    height: max-content;
    /* background: linear-gradient(180deg, #FE5858 0%, #EE9617 100%);*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 48px;
}

.sizeIconPopUp {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
}

.buttonPopUp {
    color: var(--colorPrimaryTextDesktop);
    width: 100%;
    display: grid;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    border-radius: 2px;
    overflow: hidden;
    align-items: center;
    gap: 16px;
    padding: 10px 12px;
    margin: auto;
    font-weight: 500;
    background: white;
    position: relative;
}

.textPopUp{
    width: 100%;
    text-align: center;
}

.title{
    font-size: 21px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.mainDivButtons {
    display: grid;
    position: relative;
    gap: 16px;
    z-index: 100;
}