.mainDivInfo {
    display: grid;
    gap: 4px;
    padding-bottom: 32px;
    font-size: 15px;
}

.gridNameThreePoints {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
    padding-right: 16px;
}

.name {
    font-size: 40px;
    font-weight: 500;
}

.sizeThreePoints {
    height: 16px;
    aspect-ratio: 1/1;
    position: relative;
    margin-top: 1px;
}

.description {
    color: var(--colorPrimaryTextDesktop);
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-bottom: 2px;
}

.separationLine {
    height: 1px;
    background: rgba(0, 0, 0, .1);
}

.separationLineUp {
    height: 1px;
    background: rgba(0, 0, 0, .1);
    margin-bottom: 36px;
}

.tagBase {
    padding: 1px 12px;
    border-radius: 20px;
    overflow: hidden;
    width: max-content;
    height: max-content;
    display: grid;
    align-items: center;
    align-content: center;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.tagRestaurant {
    background: linear-gradient(145deg, #e62e8c 0%, #da45d6 100%);
}

.tagBeautyAndHealth {
    background: linear-gradient(145deg, rgba(128, 0, 128, .5) 0%, rgba(96, 0, 96, 0.5) 100%);
}

.tagDefault {
    background: linear-gradient(145deg, rgb(17, 106, 245) 0%, rgb(69, 124, 213) 100%);
}

.tagDefaultEvent {
    background: linear-gradient(145deg, #fc8209 0%, #ff6200 100%);
    background: linear-gradient(145deg, #e62e8c 0%, #da45d6 100%);
    background: linear-gradient(145deg, rgb(17, 106, 245) 0%, rgb(69, 124, 213) 100%);
}

.contSocialButton {
    padding: 16px 0 24px 0;
}

.produce {
    color: var(--colorSecundaryTextDesktop);
}

.mainDivPopUp {
    width: 100%;
    height: max-content;
    /* background: linear-gradient(180deg, #FE5858 0%, #EE9617 100%);*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 48px;
}

.sizeIconPopUp {
    width: 24px;
    height: 24px;
    position: relative;
}

.buttonPopUp {
    width: 90%;
    color: var(--colorPrimaryTextDesktop);
    background: rgba(255, 255, 255, .1);
    display: grid;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    grid-template-columns: max-content 1fr;
    border-radius: 2px;
    overflow: hidden;
    align-items: center;
    gap: 16px;
    padding: 10px 12px;
    margin: auto;
    font-weight: 500;
    background: white;
}

.textPopUp {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 21px;
    text-align: center;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
}

/*--------------------------------------------->*/

.gridLogoName {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    align-items: center;
}

.sizeLogo {
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .7);
}

