.mainDiv {
    width: 100%;
    display: grid;
    align-content: start;
    overflow: scroll;
}

.noProducts {
    font-size: 21px;
    color: var(--colorPrimaryTextDesktop);
}

.gridTitle {
    display: grid;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.columnText {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 12px;
    color: var(--colorPrimaryTextDesktop);
    font-weight: 500;
}

.textCenter {
    justify-content: center;
}

.textLeft {
    padding-left: 12px;
}

.gridProducts {
    display: grid;
    gap: 1px;
    background: var(--separationLineColor);
}

.amountProduct {
    color: var(--colorSecundaryTextDesktop);
    font-weight: 500;
}

.gridTitleAdd {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}

.gridAddIcon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    width: max-content;
    border-radius: 16px;
    padding: 3px 10px 3px 16px;
}

.sizeAddImage {
    width: 20px;
    height: 20px;
    position: relative;
}

.gridSection {
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.gridSectionGuest {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.lineUnder {
    border-bottom: 1px solid var(--separationLineColor);
    border-top: 1px solid var(--separationLineColor);
    padding: 16px 0;
    background: rgba(0, 0, 0, .01);
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
    z-index: 100;
    margin-top: 24px;
}

.totalText {
    border-top: 2px solid var(--separationLineColor);
    border-bottom: 2px solid var(--separationLineColor);
    width: 100%;
    font-size: 24px;
    text-align: right;
    padding: 24px 0;
    font-weight: 500;
}

.mainDivPopUp {
    width: 400px;
    height: max-content;
    display: grid;
    gap: 24px;
    padding: 4px;
}

.upInput {
    color: var(--colorPrimaryTextDesktop);
    padding-bottom: 6px;
}

.styleInput {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    padding: 12px;
    width: 100%;
}

.titlePopUp {
    font-size: 21px;
    border-bottom: 1px solid var(--separationLineColor);
    padding-bottom: 8px;
}

.buttonPopUp {
    width: max-content;
    margin: auto;
    text-align: center;
    color: white;
    padding: 6px 32px;
    font-weight: 500;
}

.blue {
    background: var(--gradientBlueButton);

}

.gray {
    background: rgba(0, 0, 0, .1);
}

.sizeBottomArrow {
    width: 16px;
    height: 14px;
    position: relative;
    margin-bottom: 1px;
}

.gridRecommended {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    padding: 4px;
}

.divRecommended {
    padding-top: 40px;
    padding-bottom: 24px;
}

.return{
    color: var(--linkColor);
    padding-top: 4px;
}