.mainDiv {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    gap: 16px;
    height: 90vh;
    position: sticky;
    top: 40px;
    width: 300px;
}

.title {
    font-size: 18px;
    border-bottom: 1px solid var(--separationLineColor);
    padding-bottom: 10px;
}
