.mainDiv {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 16px;
    height: 80vh;
    position: sticky;
    top: 40px;
    width: 300px;
}

.up {
    width: 100%;
    border: 1px solid red;
}

.down {
    width: 100%;
    border: 1px solid blue;
}