.mainDiv {
    --widthCard: 800px;
    display: grid;
    bottom: 0;
    margin: auto;
    /*    left: 16px;
        position: absolute;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        width: calc(100% - 32px);*/
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.gridLeft {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    padding: 8px 0;
}

.gridRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sizeImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.mainDivInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 28px;
    font-weight: 500;
}

.gridImageName {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
}

.Name {
    font-size: 21px;
    font-weight: 500;
}

.gridInfoNew {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.firstGradient {
    padding: 3px;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(114, 153, 210) 0%, rgb(166, 240, 245) 50%, rgb(142, 188, 241) 100%);
}

.sizeLogo {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.button {
    padding: 2px 0;
    text-align: center;
    width: 120px;
    background: var(--gradientBlueButton);
    color: white;
    border-radius: 4px;
    overflow: hidden;
}

.gridButtons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    padding-top: 8px;
    justify-content: left;
}

.gridSideImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-content: center;
}

.sizeSideImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    scroll-snap-align: start;
}

.seeGalery {
    display: grid;
    text-align: left;
    color: var(--linkColor);
}

.mainDivInfoDes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 0 8px;
}

