.mainDiv {
    margin: auto;
    padding: 16px 0 40px 0;
    display: grid;
    gap: 32px;
}

.mainGradient {
    /*    background: linear-gradient(180deg, rgb(4, 90, 169) 0%, rgb(16, 107, 192) 70%, white 100%);
        background: linear-gradient(180deg, rgba(10, 102, 188, 1) 0%, rgb(26, 125, 218) 70%, white 100%);
        background: linear-gradient(180deg, black 0%, #131313 70%, transparent 85%);
        background: linear-gradient(180deg, black 0%, #131313 50%, transparent 60%);
        padding-bottom: 140px;*/
    position: relative;
}

.main {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    align-content: center;
}

.gridPpalProducts {
    padding: 0 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
}

.mainDivHeader {
    position: relative;
}

.gridReviews {
    display: grid;
    gap: 24px;
}

.gridQuestions {
    display: grid;
    gap: 24px;
    width: 100%;
}

.separationLine {
    height: 2px;
    background: var(--separationLineColor);
    width: 100%;
}

.gridOffer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.gridRecomendados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.paddingGeneral {
    padding: 0 16px;
    overflow: scroll;
}

.gridSectionProducts {
    display: grid;
    gap: 32px;
}

.gridTeset{
    display: grid;
    gap: 48px;
}


