.mainDiv {
    overflow: scroll;
    padding: 0 16px;
}

.mainPadding {
    padding: 6px;
}

.gridStars {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 4px;
    justify-content: center;
    padding-top: 4px;
}

.title {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.gridRating {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
}

.rating {
    font-size: 18px;
    font-weight: 500;
}

.sizeStar {
    height: 16px;
    width: 16px;
    position: relative;
}

.seeMore {
    color: var(--linkColor);
    cursor: pointer;
    padding-bottom: 16px;
}

.overflow {
    overflow: scroll;
}