.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainDivOverFlow {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: scroll;
    padding-bottom: 12px;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
}

.overflow {
    overflow: scroll;
}