.mainDiv {
    overflow-x: scroll;
    padding: 0 16px 4px 16px;
}

.title {
    font-size: 21px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.rating {
    font-size: 18px;
    font-weight: 500;
}

.seeMore {
    color: var(--linkColor);
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 2px;
}
