.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 21px;
    color: var(--colorTitlesDesktop);
}

.gridProducts {
    display: grid;
    gap: 24px;
}

.seeMore{
    font-size: 16px;
    font-weight: 500;
    color: var(--linkColor);
    cursor: pointer;
    text-decoration: underline;
}