.mainCont {
    width: 100%;
}

.mainDiv {
    display: grid;
}

.gridHours {
    display: grid;
    gap: 12px;
}

.subtitle {
    font-size: 16px;
    color: var(--colorTitlesDesktop);
    font-weight: 500;
    padding-bottom: 24px;
}

.disponible {
    border-left: 4px solid green;
    padding: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
    font-size: 16px;
}

.noDisponible {
    font-size: 16px;
    border-left: 4px solid red;
    padding: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
}

.nulo {
    border-left: 4px solid rgba(0, 0, 0, .1);
    padding: 12px;
    background: rgba(0, 0, 0, .1);
    width: 50%;
    font-size: 16px;
}

.tagDisponible {
    color: white;
    background: #10c010;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 12px;
}

.tagReservado {
    color: white;
    background: #ff4a4a;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 12px;
}

.styleButton {
    padding: 8px 24px;
    border-radius: 4px;
    background: var(--gradientBlueButton);
    color: white;
    width: max-content;
    margin: 24px auto auto auto;
    display: grid;
}

.disponibleLapse {
    padding: 2px 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 12px;
    position: relative;
    border-bottom: 2px solid #10c010;
    width: 40%;
    color: var(--colorPrimaryTextDesktop);
    margin-left: auto;
    margin-right: 16px;
}

.disponibleLapse:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid green;
    background: white;
    position: absolute;
    left: -24px;
    border-radius: 50%;
}

.noDisponibleLapse {
    font-size: 12px;
    padding: 2px 12px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    display: grid;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #ff4a4a;
    color: var(--colorPrimaryTextDesktop);
    width: 40%;
    margin-right: auto;
    margin-left: 16px;
}

.noDisponibleLapse:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid red;
    background: white;
    position: absolute;
    right: -24px;
    border-radius: 50%;
}

.base {

}

.nuloLapse {
    padding: 12px;
    background: rgba(0, 0, 0, .05);
    width: 50%;
    font-size: 16px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px;
    align-items: center;
    margin-left: 16px;
    color: var(--colorSecundaryTextDesktop);
}

.nuloLapse:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, .2);
    background: white;
    position: absolute;
    left: -22px;
    border-radius: 50%;
}

.tagDisponible {
    color: white;
    background: #10c010;
    padding: 2px 8px;
    border-radius: 24px;
    width: 60%;
    font-size: 12px;
}

.tagReservado {
    color: white;
    background: #ff4a4a;
    padding: 2px 8px;
    border-radius: 24px;
    width: 60%;
    font-size: 12px;
}

.tagDisponible1 {
    color: white;
    background: #10c010;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 500;
}

.tagReservado1 {
    color: white;
    background: #ff4a4a;
    padding: 2px 12px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 500;
}

.gridHoursLapse {
    display: grid;
    position: relative;
    padding: 8px 12px;
}

.gridHoursLapse:before {
    content: "";
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
}

.gridTags {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    padding-bottom: 32px;
    gap: 12px;
}

.hour {
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--colorPrimaryTextDesktop);
}

.gridDates
.beforeAfter {
    position: relative;
}

.beforeAfterUp {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: auto;
}

.beforeAfterDown {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: auto;
}



