.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.title {
    font-size: 28px;
}

.titleGroup {
    font-size: 21px;
}

.buttonCreateProduct {
    border-radius: 4px;
    display: grid;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 500;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    align-items: center;
    width: max-content;
    color: white;
    background: var(--gradientBlueButton);
    margin-bottom: 24px;
}

.sizeAddIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.gridProducts {
    display: grid;
    gap: 40px;
    padding: 4px;
}

.mainDivCont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.contIcon {
    padding: 2px 6px;
    background: linear-gradient(360deg, rgba(214, 214, 213, 1) 0%, rgba(245, 245, 245, 1) 100%);
    cursor: pointer;
    color: var(--colorPrimaryText);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 4px;
    font-size: 12px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    overflow: hidden;
}

.sizeIcon {
    width: 14px;
    height: 14px;
    position: relative;
}

.gridTitle {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
}