.mainDiv {
    display: grid;
    padding: 24px 48px 53px 48px;
    overflow: hidden;
    gap: 32px;
    height: 100%;
    grid-template-rows: max-content 1fr;
}

.gridTabs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.contGroups {
    height: 100%;
    overflow: scroll;
}