/*#region Mobile Class*/
.fontTitleMobile {
    --sizeTitleMobile: 17px;
    font-size: var(--sizeTitleMobile);
    line-height: var(--sizeTitleMobile);
    font-weight: 500;
    color: var(--colorTitleMobile);
    font-family: Helvetica, sans-serif, Arial;
}

.fontSubtitleMobile {
    --sizeSubtitleMobile: 15px;
    font-size: var(--sizeSubtitleMobile);
    line-height: var(--sizeSubtitleMobile);
    font-weight: 300;
    color: var(--colorSubtitleMobile);
    font-family: Helvetica, sans-serif, Arial;
}

.fontPriceIncludeMobile {
    --fontSizeLineHeightMob: 15px;
    font-size: var(--fontSizeLineHeightMob);
    line-height: var(--fontSizeLineHeightMob);
    font-weight: 500;
    color: var(--colorPriceIncludeMobile);
}

.fontNameDesktop{
    --fontSizeNameMob: 16px;
    font-size: var(--fontSizeNameMob);
    line-height: var(--fontSizeNameMob);
    font-weight: 400;
}

.fontPrimaryTextMobile{
    color: var(--colorPrimaryTextMobile);
}

.fontSecundaryTextMobile{
    color: var(--colorSecundaryTextMobile);
}

.ratingStarsPropertiesMobile {
    height: 17px;
    width: 80px;
    position: relative;
}

.fontMiniMobile{
    --sizeFontMiniMobile: 12px;
    font-size: var(--sizeFontMiniMobile);
    line-height: var(--sizeFontMiniMobile);
}

.gradientLogoMobile{
    padding: 3px;
    background: white;
}
/*#endregion Mobile Class*/

/*----------------------------------------------------------------------------------------*/

/*#region Desktop Class*/
.fontTitleDesktop {
    --sizeTitleDesktop: 20px;
    font-size: var(--sizeTitleDesktop);
    line-height: var(--sizeTitleDesktop);
    font-weight: 300;
    color: var(--colorTitleDesktop);
    font-family: Helvetica, sans-serif, Arial;
}

.fontSubtitleDesktop {
    --sizeSubTitleDesktop: 17px;
    font-size: var(--sizeSubTitleDesktop);
    line-height: var(--sizeSubTitleDesktop);
    font-weight: 300;
   /* color: var(--colorSecundaryTextDesktop);*/
    /*font-family: Helvetica, sans-serif, Arial;*/
}

.fontPriceIncludeDesktop {
    --fontSizeLineHeightDesktop: 17px;
    font-size: var(--fontSizeLineHeightDesktop);
    line-height: var(--fontSizeLineHeightDesktop);
    font-weight: 500;
    color: var(--colorPriceIncludeDesktop);
}

.fontPrimaryTextDesktop{
    color: var(--colorPrimaryTextDesktop);
}

.fontSecundaryTextDesktop{
    color: var(--colorSecundaryTextDesktop);
}

.ratingStarsPropertiesDesktop {
    height: 17px;
    width: 80px;
    position: relative;
}

.fontMiniDesktop{
    --sizeFontMiniDesktop: 12px;
    font-size: var(--sizeFontMiniDesktop);
    line-height: var(--sizeFontMiniDesktop);
}

.gradientLogoDesktop{
    padding: 3px;
    background: white;
    border-radius: 50%;
}
/*#endregion Desktop Class*/

/*#region old class*/

.ratingStarsProperties {
    height: 17px;
    width: 80px;
    position: relative;
}
.bgBodyNormal {
    background: var(--colorBodyNormal);
    transition: var(--transitionTimeDarkMode);
}

.bgBodyDarkMode {
    background: var(--colorBodyDarkMode);
    transition: var(--transitionTimeDarkMode);
}

.noScrollBody {
    height: 100vh;
    overflow-y: hidden;
}

.maxWidthBodyContentSpix {
    width: 100%;
    max-width: var(--maxWidthBodyContent);
    margin: auto;
}

.maxWidthMobile {
    max-width: 768px;
    margin: auto;
}

.paddingMainContent {
    padding: 0px 8px;
}

.opacity5 {
    opacity: .5;
}

.opacity0 {
    opacity: 0;
}

.borderCards {
    box-shadow: var(--boxShadowCard);
    border-radius: var(--borderCardRadious);
    overflow: hidden;
}

.borderCardsNoHover {
    box-shadow: var(--boxShadowCard);
    border-radius: var(--borderCardRadious);
    overflow: hidden;
}

.borderCardsDarkMode {
    border-radius: var(--borderCardRadious);
    overflow: hidden;
}

.borderCardsNoHoverDarkMode {
    border-radius: var(--borderCardRadious);
    overflow: hidden;
}

.fontTitle {
    font-size: 21px;
    line-height: 21px;
    font-weight: 300;
    color: var(--colorTitlesMobile);
    font-family: Helvetica, sans-serif, Arial;
    transition: var(--transitionTimeDarkMode);
}

.fontTitleDarkMode {
    font-size: 21px;
    line-height: 21px;
    font-weight: 300;
    color: var(--darkModetextColor);
    font-family: Helvetica, sans-serif, Arial;
    transition: var(--transitionTimeDarkMode);
}

.fontSubTitle {
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: var(--colorSubTitles);
    font-family: Helvetica, sans-serif, Arial;
    transition: var(--transitionTimeDarkMode);
}

.fontSubTitleDarkMode {
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: var(--darkModetextColor);
    font-family: Helvetica, sans-serif, Arial;
    transition: var(--transitionTimeDarkMode);
}

.fontPriceInclude {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: var(--colorPriceInclude);
    transition: var(--transitionTimeDarkMode);
}

.fontPriceIncludeDarkMode {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: var(--darkModetextColor);
    transition: var(--transitionTimeDarkMode);
}

.fontName {
    font-size: 21px;
    line-height: 22px;
    font-weight: 400;
    color: var(--colorName);
    transition: var(--transitionTimeDarkMode);
}

.fontNameDarkMode {
    font-size: 16px;
    font-weight: 400;
    color: var(--darkModetextColor);
    transition: var(--transitionTimeDarkMode);
}

.fontPrimaryText {
    color: var(--colorPrimaryText);
    transition: var(--transitionTimeDarkMode);
}

.fontPrimaryTextDarkMode {
    color: var(--darkModetextColor);
    transition: var(--transitionTimeDarkMode);
}

.fontSecundaryText {
    color: var(--colorSecundaryText);
    transition: var(--transitionTimeDarkMode);
}

.fontSecundaryTextDarkMode {
    color: var(--darkModetextColor);
    transition: var(--transitionTimeDarkMode);
}

.styleLink {
    font-weight: 400;
    color: var(--linkColor);
    transition: var(--transitionTimeDarkMode);
}

.styleLinkDarkMode {
    font-weight: 400;
    color: var(--linkColorDarkMode);
    transition: var(--transitionTimeDarkMode);
}

.hypensText {
    text-align: left;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.bgDarkModeInfo {
    background: rgb(25, 26, 27);
    background: linear-gradient(180deg, rgba(25, 26, 27, 1) 0%, rgba(38, 40, 41, 1) 100%);
}

.bgNormalInfo {
    background: var(--bgNormalInfo);
}

.gridMaxContent2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.gridMaxContent3 {
    display: grid;
    grid-template-columns: repeat(3, max-content);
}

.font12 {
    font-size: 12px;
}

.styleSpixDiscountTag {
    font-size: var(--fontSizeMini);
    background: var(--colorTagDiscount);
    padding: 1px 8px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.styleSpixTag {
    font-size: var(--fontSizeMini);
    background: var(--tagColorNormal);
    padding: 1px 8px;
    color: white;
    font-weight: 500;
    border-radius: 8px;
}

.styleSpixTagDarkMode {
    font-size: var(--fontSizeMini);
    background: var(--tagColorDarkMode);
    padding: 1px 8px;
    color: white;
    font-weight: 500;
    border-radius: 8px;
}

.bgFirstGradient {
    background-color: #045de9;
    background-image: linear-gradient(60deg, #045de9 0%, #048fe9 74%);
    background: rgb(4, 93, 233);
    background: linear-gradient(90deg, rgba(4, 93, 233, 1) 0%, rgba(4, 163, 233, 1) 19%, rgba(4, 155, 233, 1) 39%, rgba(4, 59, 233, 1) 61%, rgba(4, 205, 233, 1) 80%, rgba(4, 74, 233, 1) 100%);
    background: rgb(131, 164, 212);
    background: linear-gradient(90deg, rgba(131, 164, 212, 1) 0%, rgba(182, 251, 255, 1) 50%, rgba(148, 187, 233, 1) 100%);
}

.bgFirstGradientDarkMode {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.bgSecondGradient {
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}

.bgSecondGradientDarkMode {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 74, 74, 1) 100%);
}

.clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    overflow: hidden;
}

.clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    overflow: hidden;
}

.clamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
}

.clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
}

.clamp1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
}

.positionLastTicket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
}

.borderRadious50 {
    border-radius: 50%;
}

.gridContentCenter {
    display: grid;
    align-content: center;
    align-items: center;
}

.checkbox {
    cursor: pointer;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, .01);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

.checkbox {
    border-radius: 12px;
}

.checkbox:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #2d7dff;
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: absolute;
}

.checkbox:before {
    border-radius: 0;
    border: 4px solid #2d7dff;
    border-left: 0;
    border-top: 0;
    width: 7px;
    height: 12px;
    transform: rotate(45deg);
    top: 2px;
}

.checkbox:checked {
    border: 2px solid #2d7dff;
    border: 2px solid #ff2d84;
}

.checkbox:checked:before {
    opacity: 1;
}

.checkboxDarkMode {
    cursor: pointer;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

.checkboxDarkMode {
    border-radius: 12px;
}

.checkboxDarkMode:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #ee9617;
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: absolute;
}

.checkboxDarkMode:before {
    border-radius: 0;
    border: 4px solid #ee9617;
    border-left: 0;
    border-top: 0;
    width: 7px;
    height: 12px;
    transform: rotate(45deg);
    top: 2px;
}

.checkboxDarkMode:checked {
    border: 2px solid #ee9617;
}

.checkboxDarkMode:checked:before {
    opacity: 1;
}

.snapScroll {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.divtest {
    width: 394px;
    aspect-ratio: 2/1;
    position: relative;
    object-fit: cover;
}

.gridtest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.styleGradientIndex {
    max-width: var(--maxWidthBanner);
    margin: auto;
    background: linear-gradient(rgba(10, 102, 188, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 40px 0;
}

@media (min-width: 1281px) {
    .borderCards:hover {
        transform: scale(var(--scaleHover));
        box-shadow: var(--boxShadowHover);
        transition: var(--transitionHover);
    }

    .borderCardsDarkMode:hover {
        transform: scale(var(--scaleHover));
        box-shadow: var(--boxShadowHoverDarkMode);
        transition: var(--transitionHover);
    }
}

@media (min-width: 1600px) {
    .maxWidthBodyContentSpix {
        width: 1500px;
    }
}

/*#endregion old class*/




