.mainDiv {
    padding: 24px 32px 53px 32px;
    overflow: scroll;
    height: 100%;
    display: grid;
    width: 100%;
    margin-right: auto;
    gap: 24px;
    --boxShadowInt: 0 0 3px rgba(0, 0, 0, .2);
}

.overflowDiv {
    overflow: scroll;
    padding: 0 8px 8px 8px;
}

.mainDivInfoAnswer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.mainDivInfo {
    display: grid;
    gap: 24px;
}

.title {
    font-size: 28px;
    font-weight: 500;
    color: var(--colorTitlesDesktop);
}

.subtitle {
    color: var(--colorPrimaryTextDesktop);
}

.mainDivTitle {
    padding-bottom: 32px;
}

.grid {
    display: grid;
    gap: 16px;
}

.textInput {
    width: 50%;
    box-shadow: var(--boxShadowInt);
    padding: 12px;
}

.textArea {
    width: 50%;
    height: 200px;
    box-shadow: var(--boxShadowInt);
    border-radius: 8px;
    overflow: hidden;
    resize: none;
    padding: 12px;
}

.buttonCreate {
    padding: 2px 32px;
    background: var(--gradientBlueButton);
    color: white;
    width: max-content;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
}

.gridMyForms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.mainDivForm {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    gap: 8px;
    padding: 12px;
    transform-origin: 0;
    transition: .4s;
}

/*.mainDivFormUser:hover {
    transform: scale(1.05);
}

.mainDivForm:hover {
    transform: scale(1.05);
}*/

.mainDivFormUser {
    box-shadow: var(--boxShadowCard);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    gap: 8px;
    padding: 12px;
    height: max-content;
    cursor: pointer;
    transform-origin: 0;
    width: 100%;
    transition: .4s;
}

.gridIcon {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.sizeIcon {
    height: 16px;
    width: 16px;
    position: relative;
}

.textIcon {
    color: var(--colorPrimaryTextDesktop);
}

.gridTitleButton {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
}

.titleForm {
    font-weight: 500;
    color: var(--colorPrimaryText);
}

.sizeDeleteIcon {
    width: 10px;
    height: 10px;
    position: relative;
    margin: auto;
    opacity: .5;
}

.bordeClose {
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    border-radius: 50%;
    padding: 4px;
    height: max-content;
    width: max-content;
    background: white;
    transition: .4s;
}

.bordeClose:hover {
    transform: scale(1.2);
}

.gridFormClose {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr max-content;
}

.gridIntForm {
    display: grid;
    cursor: pointer;
    gap: 8px;
}

.gridImageNameUser {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
}

.sizeProfile {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.sizeProfilePopUp {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.mainDivPopUp {
    padding-top: 24px;
    margin: auto;
    border-radius: 12px;
    overflow: scroll;
    width: 400px;
    border-top: 1px solid var(--separationLineColor);
}

.sizeImagePath {
    height: 60px;
    width: 60px;
    position: relative;
    margin: auto;
}

.gridPopUp {
    display: grid;
    gap: 12px;
    color: var(--colorPrimaryText);
}

.name {
    font-weight: 500;
}

.aboutMe {
    color: var(--colorPrimaryText);
}

.email {
    color: var(--colorSecundaryTextDesktop);
}

.retunrButton{
    padding-top: 4px;
    color: var(--linkColor);
    text-decoration: underline;
}